[2019-06-29 14:45] Infi-Knight opened #11 "Clicking on 'About' in the menu crashes the app."
### Describe the bug
Clicking on 'About' in the menu crashes the app.

## To Reproduce
Steps to reproduce the behavior:
1. Open the Menu.
2. Click on 'About'

### Expected behavior
Should show some information about the app.

### Screenshots

### Others
 - Device: MI A1,
 - Android Version: [9]

[2019-06-29 16:15] ashutoshgngwr commented on #11
### Corresponding stacktrace
[code]

[2019-07-01 15:32] ashutoshgngwr opened #13 "Community presets"
### Is your feature request related to a problem? Please describe.
Community derived presets are a great way for users to quickly tune-in Noice without fiddling little details.

### Describe the solution you'd like
A list of presets selected by community.

### Additional context
The list should be hosted as a JSON array in a plain-text file on GitHub, which makes it rather easy to provide future u

[2019-07-02 08:57] ashutoshgngwr commented on #11
#12 works on Android Pie emulator but not on a physical device. Needs more work!

[2019-07-03 10:53] ashutoshgngwr commented on #11
I went through the source code of [`AboutPage`](https://github.com/medyo/android-about-page/blob/master/library/src/main/java/mehdi/sakout/aboutpage/AboutPage.java). It does not seem to be causing the problem. Since I do not have a physical device with Android Pie and there is no other way to reproduce this behaviour, I did a workaround to avoid crash (#15). I'll leave this open until the exact or

[2019-07-11 10:31] friendsmobile opened #20 "(BUG) (noice Current Version 0.2.5) App failed to open"
# Project Information

* Repository: https://github.com/ashutoshgngwr/noice
* Project Name:  noice
* My Github Account: https://github.com/friendsmobile
* Download the application:  https://play.google.com/store/apps/details?id=com.github.ashutoshgngwr.noice

# Expected behavior

When I open the application, all feature should appear and the application should not be crashed.

# Actual behavior

T

[2019-07-11 11:10] ashutoshgngwr commented on #20
@friendsmobile Thanks for the report. I'll look into it! :+1:

[2019-07-21 16:02] IzzySoft opened #26 "Alternative download source"
### Is your feature request related to a problem? Please describe.
I'm always frustrated when [...] I can find an app only on Play Store, with no privacy-friendly alternative. I don't use Play Store at all; all my devices run LineageOS without GApps, and have F-Droid instead.

### Describe the solution you'd like
I'd like to see the app available in an alternative place – like, at F-Droid, or at l

[2019-07-21 17:43] ashutoshgngwr commented on #26
As much as I'd like to do that, I had configured Noice's APKs to be signed by Google Play. To avoid any install conflicts for majority users (which I think comes from Google Play), I have religiously avoided uploading binaries signed with my certificate to any other source, although I am starting to regret that decision now.

Anyways, I've created an [RFP](https://gitlab.com/fdroid/rfp/issues/1045

[2019-07-21 17:43] ashutoshgngwr commented on #26
@IzzySoft Let me know if there's anything else I need to do in order to complete the process!

[2019-07-21 20:31] IzzySoft commented on #26
Hey cool, that's the better solution anyway, thanks! I'll wait overnight until the bot has checked, and then prepare it for the next step, which is packaging (disclosure: I'm one of the F-Droid maintainers). Thanks a lot!

(PS: just as a note, not critićising: handing your private key to a third party is something you should avoid for security reasons. That third party now can manipulate your pack

[2019-08-03 12:19] ashutoshgngwr commented on #20
@friendsmobile Neither can I reproduce this, nor do I have any logs available for such crash in Google Play Console.

[2019-08-23 14:29] #26 closed

[2019-09-10 16:58] JonTabor opened #40 "Allow user-supplied audio samples"
Some of the samples are small enough to have a noticeable pattern when repeating, which can be distracting.  While pondering possible solutions, I thought it would be a great feature (and solve the issue) if users were allowed to supply their own samples.

[2019-09-11 02:49] ashutoshgngwr commented on #40
The problem with short sound loops is inherent from the Android's SoundPool framework which has very strict memory limitations. To solve it, one would need to rewrite Noice's SoundManager with MediaPlayer or other relevant framework.

Giving user's ability to import their own sounds will also be bound by SoundPool's limitation and isn't a good idea given Noice's current state. I'll keep this open

[2019-10-05 04:51] ashutoshgngwr opened #48 "No playback on non-loop sounds on Android 9"
### Describe the bug
Playing non-loopable sounds on Android 9 results in no playback. Furthermore, if time-period seek is reduced to minimum, the app crashes.

### To Reproduce
Steps to reproduce the behavior:
1. Play 'Distant Thunder'
2. Seek volume to max
3. Seek time period to min

### Expected behavior
Well some playback without any crashes would be marvellous.

### Screenshots
_N/A_

### Othe

[2019-10-21 16:18] Poussinou opened #54 "Copycat on Google Play"
Hi @ashutoshgngwr

I found this app: https://play.google.com/store/apps/details?id=cm.whitenoise.sound on the Google Play Store. This guy just took your source code, added some ads in it and put it on the Store, without warning this is free software...

As you are the owner of the source code, feel free to open a request to google [here](https://support.google.com/legal/contact/lr_dmca?product=goo

[2019-10-21 17:22] ashutoshgngwr commented on #54
Thanks @Poussinou for the report! I've reported it to Google Play Support. Let's see what happens.

[2019-11-08 16:50] jeroen7s commented on #48
I'm having the same issue, when time is set to minimum the app crashes, most of the time there's no sound, but sometimes it does work

[2019-11-09 04:12] ashutoshgngwr commented on #48
@jeroen7s As soon as I find some time, i'll hunt this down.

[2019-11-09 15:26] #48 closed

[2019-11-13 08:35] crogonint opened #62 "Dual Samples"
Some of the included samples are terribly irritating. An example is the Bonfire sample. It's about 1 1/2 seconds long, and for all the world sounds like somebody left a record player on after the record was finished.

Sounds which by nature will have a repetitive pattern like this one are easily masked, however. You simply have two separate samples of different lengths. For example, for this bonfi

[2019-11-13 16:01] ashutoshgngwr commented on #62
That's a neat idea. I want to give it a try for sure but I am finding it difficult to manage time to work on hobby projects these days. In the meantime, if you can take this up and ahead, I'll be happy to help. If not, I'll try to work on it but I can't promise anything. :sweat_smile:

[2019-11-13 20:02] crogonint commented on #62
I've probably got some free to use sound samples already downloaded somewhere, from soundbible.com or one of the other ones from back in the day.

I don't do much programming these days though. I can pair up some samples, and make sure that fade cleanly, but you'll have to hammer it in to the code. ;)

[2019-11-14 01:47] ashutoshgngwr commented on #62
@crogonint awesome. Please do that!

[2019-11-19 23:02] dasnessie opened #66 "Add a timer"
### Is your feature request related to a problem? Please describe.
I sometimes like to use the app as background sound when I can't fall asleep. However, I do not want the app to run all night.

### Describe the solution you'd like
I would really love an option to stop the sound after a period of time I can define, probably somewhere between ten minutes and two hours.

### Additional context

[2019-11-20 01:40] ashutoshgngwr commented on #66
Noted!

[2019-11-24 15:18] ashutoshgngwr commented on #62
@crogonint Whenever you can, send me the samples before due date of the milestone. I want to add better audio samples to next version.

[2019-11-24 15:19] ashutoshgngwr commented on #54
@Poussinou I heard back from Google Support. Looks like they aren't going to take any actions against it. I am closing this issue since there is nothing more to be done.

[2019-11-24 15:19] #54 closed

[2019-11-24 15:26] ashutoshgngwr commented on #40
I am still skeptical about having user-supplied samples, but nonetheless, I have started working on a new version of SoundManager which will allow for better quality with longer sound loops.

[2019-12-25 16:27] rubo77 opened #77 "add option not to move playing sounds to the top"
### Is your feature request related to a problem?
When listening to all the sounds in the library one after another, sometimes it would be handy if you wouldn't have  to scroll to the top to stop the sound again

### Describe the solution you'd like
A clear and concise description of what you want to happen.

Please add an option to turn off this behaviour

[2019-12-25 17:35] ashutoshgngwr commented on #77
@rubo77 I have planned a major refactor for Noice but I am not able to find the time lately. I was thinking of removing the feature altogether but I think adding an option sounds even better.

If you want to track progress (which is tending to 0 right now) on the refactor, see #68

[2020-01-19 20:30] dector commented on #66
+1 for this. Extremely handy feature if one is using the app before going to sleep.

Thanks for the app, btw!

[2020-01-19 20:32] dector commented on #62
@crogonint can you share examples in this issue please?

[2020-01-22 01:43] crogonint commented on #62
I haven't forgotten about you guys, I've just gotten terribly busy. I'm
currently installing some multimedia and audio apps. Give me a few days and
I should be set up to put a few samples together. :)

On Sun, Jan 19, 2020, 1:33 PM Denys M. <notifications@github.com> wrote:

[2020-03-08 14:12] ashutoshgngwr commented on #77
This feature has been removed in #68
Closing!

[2020-03-08 14:12] #77 closed

[2020-03-09 15:41] #66 closed

[2020-03-26 05:45] ashutoshgngwr opened #108 "Need translators for app localization"
Please help in translating Noice to your local language.

**Note**: _Even if translations for your local language exist in Noice, it is a good idea to revisit them. The project is always under development and translations are lagging behind. If you have Android Studio environment setup on your local machine, clone the repository and take a look at `values/strings.xml`. Android Lint will highlight

[2020-03-27 23:32] refola opened #110 "crash when viewing Saved Presets after upgrading 0.2.7 -> 0.3.x"
### Describe the bug
Noice crashes when I select "saved presets" after updating from version 0.2.7.

### To Reproduce
Steps to reproduce the behavior:
1. Downgrade to version 0.2.7 and reset Noice's app data.
2. Start a track and save as a preset.
3. Upgrade to version 0.3.x (tested with 0.3.1 and 0.3.3 on F-Droid).
4. Go to "Saved Presets".
5. Watch Noice crash immediately.

### Expected behavior

[2020-03-28 17:30] crogonint opened #111 "Sounds not moving to the top of the list"
Starting in version 0.3.1, sounds do not automatically move to the top of the list when enabled.

Not sure if this feature is necessary, but I noticed it.

Edit:
...not sure why there's no 'bug' tag on this.

[2020-03-28 17:31] crogonint commented on #110
I can verify the behavior, haven't looked at the code.

[2020-03-28 17:38] crogonint opened #112 "Sounds turn off"
### Describe the bug
Starting in 0.3.1, at some point during the night, the sounds turn off. I suspect that they pause for a notification noise or something, then never turn back on.

### To Reproduce
Steps to reproduce the behavior:
1. Turn on some sounds.
2. When you wake up, they're off.
3. Double clicking one sound turns them all back on.

### Expected behavior
Sounds remain on until you shut

[2020-03-28 17:43] crogonint opened #113 "Volume controls interlinked"
### Describe the bug
Starting on 0.3.1 can't recall exactly which sound pair I noticed the behavior in, but for example, if the bonfire noise is on, and you turn the wind in tree nice on and raise its volume, the bonfire volume also goes up.

[2020-03-28 17:46] crogonint opened #114 "On/Off buttons"
### Describe the bug
I first noticed the behavior in 0.3.3. When you click the on/off buttons, the button state doesn't immediately change. If you scroll it off screen, you can see that the state changed.

[2020-03-28 17:53] crogonint opened #115 "Cricket Sound"
Could we get the plain cricket noise back? I grew up being sung to sleep be crickets, and it was by far my favorite noise. The current one with the cicadas jars me awake every time the cicada chirps.. until I'm too tired to care.

In would suggest adding 'Crickets' to the list. I'm sure that there are plenty of people from the south who prefer the noise with the cicadas. ;)

[2020-03-28 17:55] crogonint commented on #62
Just an FYI, I didn't forget about this, my sound samples are on a random drive that I haven't located yet. I'll be going through the drives today. Cross your fingers...

[2020-03-28 17:59] crogonint commented on #62
@ashutoshgngwr

I was pretty happy with most of the samples already in use.

What bit rate would you like use as an HD standard?

[2020-03-28 19:16] ashutoshgngwr commented on #62
@crogonint with current standard 128-192 kbps is what I considering the best quality for sounds. Of course this after taking app size into consideration.

[2020-03-28 20:34] Enchufadoo commented on #108
Hi, would like to translate to spanish (Latin america) if you want.

[2020-03-28 20:37] ashutoshgngwr commented on #108
@Enchufadoo Please go ahead! Thanks for your contribution. :)

[2020-03-28 20:40] ashutoshgngwr commented on #111
I removed the feature in 0.3.0. a lot of changes happened recently with frequent releases so might have missed to mention it. :)

I'll close since this is intentional change.

[2020-03-28 20:40] #111 closed

[2020-03-28 20:46] ashutoshgngwr commented on #113
@crogonint I just tried to reproduce this on my end and with no luck. Please add device info (Memory, Android version, etc.) and a gif/video of the issue (if possible).

[2020-03-28 20:52] ashutoshgngwr commented on #110
Thanks for bringing the issue in notice. I now realise that I've screwed up big time. Its gonna be hard to both preserve presets saved on 0.2.7 and fix this issue at the same time. I'll try to come up with a solution that works in both cases. :)

[2020-03-29 10:14] crogonint commented on #110
Personally, I already had to delete my presets, and I've temporarily downgraded back to 2.7. I don't mind of the presets get lost, this once. Maybe add a feature to back them up?

[2020-03-29 10:21] crogonint commented on #113
Same device from before, it's a Motorola G7 Power, android 9. Memory is lots. I've got 2gb free out of 32gb on internal storage, 490+gb free on the SD card out of 512gb. RAM is 2.2gb out of 3gb used.

[2020-03-29 10:28] ashutoshgngwr commented on #113
Greyed out is a feature because it made sense to disable controls if a sound wasn't playing,

[2020-03-29 10:38] ashutoshgngwr commented on #110
@crogonint I think Google backs up the app preferences by default. That is why I didn't take backups under consideration. I'll fix this ASAP.

[2020-03-29 10:52] ashutoshgngwr commented on #110
@refola These are not multiple issues but one. In #105 , I only addressed half the concern that I thought was breaking backward compatibility. The second half of the issue is Proguard obfuscation.

[2020-03-29 15:05] ashutoshgngwr commented on #110
@refola @crogonint Created #117 with the fix. Will merge it after testing it for a while.

[2020-03-29 16:47] #110 closed

[2020-03-31 02:58] crogonint commented on #62
Yeah I don't think that 128kbps is totally necessary for most of these, I mean they're mostly ambient. I could maybe see birds, or people mumbling, or thunder.. Sounds that actually benefit from a higher sound density..

Tell you what, I use a lot of RPG sound thingies, I'll see what they're using as a standard for background noises and sounds.

[2020-03-31 03:00] crogonint commented on #113
Well crap, I'll have to download the current version again. I'll do that later this this evening.

[2020-04-02 17:35] ashutoshgngwr commented on #11
I am closing this. I give up. :sweat:

[2020-04-02 17:35] #11 closed

[2020-04-03 02:43] #40 closed

[2020-04-03 03:43] #20 closed

[2020-04-07 21:19] crogonint commented on #113
Fixed in 3.4! 👯

[2020-04-07 21:20] crogonint commented on #114
Also fixed in 3.4! 😃

[2020-04-07 21:51] crogonint commented on #112
APPEARS to be fixed in 3.4. I.note that notification sounds share the sound device with Noice now, instead of interrupting it.

I'll let you know tiptoe of

[2020-04-07 21:54] #114 closed

[2020-04-07 21:54] #113 closed

[2020-04-08 06:40] ashutoshgngwr opened #122 "Add fade-in and fade-out effects for looping sounds"
### Is your feature request related to a problem? Please describe.

On clicking play button for any looping sound, it immediately starts playing at the set volume. This feels somewhat intrusive. A fade-in effect will ease in the sound on top of other (if any).

[2020-04-08 10:43] ashutoshgngwr commented on #122
**Update:** ExoPlayer has no native support for fading in/out sound playback. The logic for fading in/out sound playbacks needs to wrapped in [`pause()`](https://github.com/ashutoshgngwr/noice/blob/2f47824438a59816fa7c7a9ce4b976497ce78237/app/src/main/java/com/github/ashutoshgngwr/noice/sound/Playback.kt#L170-L177) and [`play()`](https://github.com/ashutoshgngwr/noice/blob/2f47824438a59816fa7c7a9c

[2020-04-08 17:31] crogonint commented on #112
I jumped the gun. Exact same issue this morning. I can't hear the sounds, even though they're still 'on' in the app. If I turn a sound off and back on, the audio turns back on.

[2020-04-09 11:50] #122 closed

[2020-04-10 19:43] crogonint commented on #112
I think the volume is lowering over time. Every once in a while the volume... well, it wobbles around like someone is playing with the volume knob on a radio.

I had two repeatable effects happen this morning. I got a phone call before my alarm went off. Both the phone call and the alarm killed the volume of Noice, and didn't turn it back on. After the event, Noice remains muted. All of the indivi

[2020-04-10 19:48] crogonint commented on #112
Ok, now I can't repeat it. More the sounds continue under the alarm going off, and they don't mute at all when the alarm goes off.

I think some event must be happening while the app is playing all night.

[2020-04-10 19:53] crogonint commented on #111
I note that if I come here by clicking the report issues button, when I return to the app, all of the enabled sounds are at the top of the list.

Is this behavior expected?

[2020-04-11 03:09] ashutoshgngwr commented on #112
@crogonint Thanks for the details. I'll look into this.

[2020-04-11 08:54] pascalpa opened #126 "White font on white background when saving preset"
Hello,
When saving a preset with system default (light) theme, fonts appears white (or almost white) on a white background. Then, writing a description is very difficult.
 - Device: OnePlus 7t
 - Android Version: 10
Anyway, thank you for this app! It's GREAT!
Pascal, from Paris suburbs

[2020-04-11 09:00] ashutoshgngwr commented on #126
Thank you for the feedback and report! I'll try to ensure that a fix is released with the next version.

[2020-04-11 14:23] #126 closed

[2020-04-12 18:14] yamaks2306 commented on #108
Hey! If you don't mind, I'd like to help with the Russian translation.

[2020-04-12 18:16] ashutoshgngwr commented on #108
@yamaks2306 please go ahead. Thank you for the contributions.

[2020-04-12 23:31] crogonint commented on #112
Happened again this morning. I was pleased to hear the sounds were still playing when I woke up, then after I got a phone call, they stayed off.

Say, I wonder if the mute function in Noice is timing out during extended operations.. Like me sleeping through my alarm. 🤣

[2020-04-16 08:29] ashutoshgngwr opened #133 "Instrumented unit tests intermittently fail in CI environment"
### Describe the bug

Most of the times, this happens due to efficiency issues with emulator. However, recently the following two test cases are more likely fail than anything else.

1. https://github.com/ashutoshgngwr/noice/blob/1dde94f6c3802f51988d2ab9b202ab1fe0c3d877/app/src/androidTest/java/com/github/ashutoshgngwr/noice/MainActivityTest.kt#L74-L103
   This fails with following logs (mostly on

[2020-04-19 20:16] opusforlife2 opened #135 ""Rate us on the Play" - the word "Store" is cut off in the side drawer"
### Describe the bug
The mentioned side drawer option has a missing word.

### To Reproduce
Open the drawer.

### Expected behavior
The option is fully visible.

### Others
 - Device: Xiaomi Mi 5
 - Android Version: LineageOS 16

[2020-04-20 12:29] #135 closed

[2020-04-22 19:28] MyNameIsTroll opened #139 "Suggestions for new sounds"
Hey, everybody, very cool little app.

Some suggestions for new sounds :)

- fountain or cascade
- footsteps in the snow
- icebreaker

[2020-04-22 19:50] MyNameIsTroll commented on #139
Other ideas ^^ (I'm addicted)

- the cry of the wolves
- kindergarten or recreation sounds
- train tracks
- cat purr
- bubble wrap

[2020-04-23 11:40] ashutoshgngwr commented on #139
Thanks for the ideas. I should let you know that I have to salvage all the sounds from royalty-free online sources. Finding these sounds will hard, even impossible for some them. :sweat_smile:

[2020-04-23 11:42] ashutoshgngwr commented on #133
This seems to have been resolved by #137 which disables saving gradle cache for CI jobs and switches to using default emulator images (in-place of Google APIs). Will re-open if something goes wrong again.

[2020-04-23 11:42] #133 closed

[2020-04-23 21:31] reykwan opened #142 "Custom sounds"
Please add a feature for users to add their own sounds

[2020-04-24 04:50] ashutoshgngwr commented on #142
@reykwan This is something I have deliberately avoided adding to the app. If I remember correctly, this was proposed in on of the earlier issues as well. In what scenarios, would you want custom sounds? Please note that the goal of the project is to be a noise generator.

[2020-04-24 21:52] MyNameIsTroll commented on #139
That's what I thought :)
I wouldn't go to the forest to register wolves... :D

[2020-04-25 04:34] ashutoshgngwr commented on #139
I might. You'll never know.

[2020-04-25 07:25] aproposnix opened #144 "Add Transition capabilities"
### Add sound transitions
As a user, I would like to imitate rain variability. This means I would like to start off with a light rain sound and then eventually transition to a heavy rain sound and vice versa.

### Use Case
I propose to add transition effects into the app.

A user can select multiple sounds and group them as 'transition sounds'. This means the app will cycle through those sounds (f

[2020-04-25 11:39] ashutoshgngwr commented on #144
@aproposnix This is a nice suggestion and I've been thinking about something similar along the lines.

I was thinking of taking away user's control over the variety of sound. What I mean by that is instead of showing the user three version of rain sound, we show them just one version. This version in background takes cares of transitioning between the three versions randomly. In addition, we can a

[2020-04-25 18:10] aproposnix commented on #144
I do agree that it could bring more complexity to the app, but only if you don't design it right. One way to avoid the complexity for average users would be simply to add "advanced controls". From here you would be able to create the groups. Once created, the groups appear as sound banks to pick from.

I think the important thing is to provide clear documentation to the user. Maybe a feature tour?

[2020-04-25 18:21] aproposnix opened #145 "Add sleep timer presets"
### Add preset times
As a user, I would like to have some quick presets for the sleep timer as it currently takes too much effort to set the timer. For example, there could be buttons for:
* 1 hour
* 2 Hours
* 4 Hours
* 8 Hours

### Presets as the default - Time selector as advanced option
There should be a number of presets instead of the current radial dials (which can be confusing for tired peo

[2020-04-25 18:25] ashutoshgngwr commented on #144
I have an idea. What if you could horizontally swipe each sound and group them using colors.

On swiping on a sound, you have following options
1. Add sound to a group if it is not part of one already
   - On swiping, you will be displayed colored circle representing existing groups in current playback
   - Along with colored circles, you'll have an option to create a new group
2. If sound is alre

[2020-04-25 18:31] ashutoshgngwr commented on #145
My nearsighted brain never thought of that. I'll see what I can do here.

[2020-04-25 18:33] aproposnix commented on #144
To be honest, it sounds kind of complicated and a potential risk for visual clutter.  Maybe I don't understand it fully though.

Why not allow the use to long press a sound which will open a dialogue, select group sounds... the user selects the sounds, names it and then saves it. Once taken back to the sound list, the new group will be visible as a new sound bank.

[2020-04-25 18:37] ashutoshgngwr commented on #144
Okay. I was missing the part where group are also shown as sounds. Let me think a little bit more about it. I'll definitely share my final thoughts on this before heading into implementation.

[2020-04-26 22:55] 532910 opened #146 "Adaptive icon shape"
Please add support for icon shape
https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive.html
https://material.io/guidelines/style/icons.html

[2020-04-27 08:56] #146 closed

[2020-04-27 21:53] igalic commented on #139
I gave a sleep helper toy from my daughter to a neighbour with a younger daughter, so after an evening of taking two hours to get her to sleep, I'd like to suggest:

- heartbeat

[2020-04-28 14:33] ashutoshgngwr commented on #145
@aproposnix New design in #148. There's also a screenshot. Let me know your thoughts.

[2020-04-30 15:56] oliver commented on #139
Another suggestion: a bird sample with less frequent sounds. The current birds.mp3 has basically continuous bird calls; and I'd love to have a sample where birds only call every 1 or 2 seconds maybe.

(Btw. many thanks for releasing this app - it is wonderful!)

[2020-04-30 16:12] #145 closed

[2020-04-30 18:29] ashutoshgngwr opened #149 "Issue with ViewAction for seeking the SeekBar"
The following ViewAction is buggy and seek action starts and ends at incorrect positions. Tests doesn't fail because we only seek to extreme positions which somehow works fine.

https://github.com/ashutoshgngwr/noice/blob/055cd672eb3d815a740a949b697a75012f0fafec/app/src/androidTest/java/com/github/ashutoshgngwr/noice/fragment/SoundLibraryFragmentTest.kt#L64-L99

[2020-04-30 22:31] forivall opened #150 "Chromecast"
### Describe the solution you'd like
Support playing noise on Chromecast devices
### Additional context

[2020-05-02 05:34] ashutoshgngwr commented on #150
Leaving my notes from the past research about this feature.

- Chromecast doesn't support streaming local media files
- In order to stream local media, the sender application will need to host an HTTP server that outputs the media stream for the receiver application.
- In order to integrate this into Noice, we need to transform `PlaybackManager` into a generic interface. `CastPlaybackManager` can

[2020-05-02 18:47] forivall commented on #150
I took a look at the two open source apps that support casting, and it looks like AntennaPod simply forwards the media file from the server where it was downloaded,  https://www.github.com/AntennaPod/AntennaPod/tree/develop/core%2Fsrc%2Fplay%2Fjava%2Fde%2Fdanoeh%2Fantennapod%2Fcore%2Fcast and VLC does launch its own server, but it's in c++, so... ¯\_(ツ)_/¯ https://github.com/videolan/vlc/blob/mast

[2020-05-02 20:29] ashutoshgngwr commented on #150
@forivall i am jumping around fences on which way to go. The former method is way more complex and requires refactoring (which I am personally tired of). Latter is simple to implement because then sender app could just send playback events and receiver app could do the actual playback. But then any change to Playback logic would need to be implemented twice. I was already planning on introducing a

[2020-05-12 14:17] ashutoshgngwr opened #159 "Play button in Sound library not responding"
### Describe the bug
Play button in Sound library stops responding on performing the following steps.

### To Reproduce
Steps to reproduce the behavior:
1. Open Noice
2. Play a random sound
3. Stop the sound
4. Keep Noice open and lock the screen
5. Wait for 30 sec to 1 min
6. Unlock the screen and try to play a sound

### Expected behavior
The sound should play? jeez. what's up with all the quest

[2020-05-12 18:29] etam commented on #139
Another one: driving an electric car on a highway.

Possible source material: https://www.youtube.com/watch?v=XQuo4-t0p_8 (I can't say for sure, but I guess the author might give you samples under free license https://www.cgpgrey.com/contact)

[2020-05-12 18:59] ashutoshgngwr commented on #139
All suggestions under consideration. I don't have a final timeline. Currently super occupied with Google cast #150.

Working branch: [_feat/google-cast_](https://github.com/ashutoshgngwr/noice/tree/feat/google-cast)

PS, I could use some help with the testing. If you guys are able to build the app and have a cast-enabled device, the latest commit on that branch is able to cast the playback. It doe

[2020-05-14 15:43] ashutoshgngwr opened #164 "Fix bird and heavy rain sound samples"
### Describe the bug
- [ ] Bird sample is too intense
- [x] Heavy rain has a crackling noise and the sample is very short. This results in a very irritating experience overall.

### To Reproduce
Steps to reproduce the behavior: _N/A_

### Expected behavior
_N/A_

### Screenshots
_N/A_

### Others
_N/A_

[2020-05-16 18:12] CL commented on #108
I would like to contribute with the Brazilian Portuguese (pt-br) translation

[2020-05-16 18:25] ashutoshgngwr commented on #108
@chagretes Please go ahead. Thank you for the contribution.

[2020-05-16 18:39] CebolaBros64 commented on #108
How far ahead are you on your translation? I have a brazillian portuguese translation in progress as well

[2020-05-16 18:47] ashutoshgngwr commented on #108
@CebolaBros64 I was starting to think that maintaining this issue is a waste of time. :sweat_smile:

[2020-05-16 18:55] chagretes commented on #108
I still need to translate the metadata + screenshots.

[2020-05-16 19:05] CebolaBros64 commented on #108
Sure thing, then! I'll be making a pull request soon enough

[2020-05-16 19:55] chagretes commented on #115
@crogonint something like this https://freesound.org/people/cs272/sounds/77034/?
Or maybe https://freesound.org/people/rucisko/sounds/250355/ ?

I don't know, it still looks a lot like the existing "night" sound.

[2020-05-17 03:40] crogonint commented on #115
Beautiful! Well, the one is beautiful, the other has more white noise than
cricket. I would overlay these two:
Use 13 seconds of this (the end 13 seconds is more disjointed, will make it
seem more natural):
https://freesound.org/people/outdoor_recordings/sounds/362404/
with seven seconds of this:
https://freesound.org/people/cs272/sounds/77034/
..both repeating every time they end. Just make sure

[2020-05-17 04:32] chagretes commented on #115
Wow, you are really dedicated to the sound of crickets!

I can edit the sounds as directed. I'm just wondering if @ashutoshgngwr  will want two types of sounds so similar in the app.

If it is not his wish, I can generate an apk, changing the "night" to this new crickets sound and make it available to you ;)

_off topic: when I was a child I collected cicada shells (the exuviae). Their singing (at

[2020-05-17 06:27] crogonint commented on #115
Oh, well, yes.. I grew up falling asleep to the sounds of crickets outside
my window. :)

Most of that was because we had previously discussed doing dual samples in
the app to make them not sound like a repeating loop. I'm actually not sure
if he's prepared to add that in to the app yet. ;)
 - James T. Long

------------
There are 10 kinds of people in the world - those who understand binary,
and

[2020-05-17 06:50] ashutoshgngwr commented on #115
@crogonint @chagretes  I have already said it before. The idea mentioned in #62 is noble. I am willing to implement it but for audio editing for a inexperienced person is a tedious task. Dual samples made sense when you had earlier proposed them. If someone could go ahead and create dual samples for _looping_ sounds, we could try and experiment with it. If the results are satisfying, we can migrat

[2020-05-17 08:30] crogonint commented on #115
Yes, I just didn't know if Felipe was aware of the other conversation in
the other issue. ;)
 - James T. Long

------------
There are 10 kinds of people in the world - those who understand binary,
and those who don't.

On Sun, May 17, 2020 at 12:50 AM Ashutosh Gangwar <notifications@github.com>
wrote:

[2020-05-18 08:30] #159 closed

[2020-05-18 13:09] chagretes commented on #115
I really wasn't aware of the other issue.
I believe I have time to do as @ashutoshgngwr  suggested. If I start working on it, I will communicate here before. That way we stay aligned

[2020-05-18 16:02] yashpalgoyal1304 commented on #142
I would want to use custom sounds when i want to use:
- the noise of my choice
- low key music from youtube
- soundtracks of movies
- binaural beats (or other similar tones)

----

Anyways, thanks for the awesome app. This is exactly what i was looking for (after this suggestion is accepted tbh, but this is awesome already as well).

[2020-05-18 17:48] ashutoshgngwr commented on #142
@yashpalgoyal1304 I myself listen to music sometimes while generating a little ambience on the side. Noice supports playback alongside other apps. This implies that you can still go ahead and do any of the things you mentioned with any of the other apps and continue to use Noice for generating ambience.

When you play an audio from any other app while Noice is playing, Noice will pause at first. B

[2020-05-18 18:11] yashpalgoyal1304 commented on #142
thanks for the reply.

I get it that the last 3 things can be done in other apps too, but i cant use other apps for HQ noise of my choice. I tried doing it via VLC, MX Player, KODI, and sometimes MiXplorer player too playing all at the same time, and it turned into a mess pretty quickly.

[2020-05-18 18:20] ashutoshgngwr commented on #142
@yashpalgoyal1304 I understand the sentiment but my concern with this feature has always been the separation of concerns. If Noice allows users to import custom sounds, its not a noise generator anymore. Perhaps what is being proposed here is better suited for an audio mixing app or an app which does multi track playback in general.

[2020-05-18 18:25] yashpalgoyal1304 commented on #142
Yeah, i agree. And i tried searching for those too (sorry if it feels patronizing or what! i am not rude). And couldnt find an app for multi-track playback. The audio mixing or DeeJay apps were overkill (resource consumption) and under deliver (only 2 tracks) for my requirements.

[2020-05-18 18:37] ashutoshgngwr commented on #142
@yashpalgoyal1304 I am sorry but I can't help you there. Thanks for understanding.

[2020-05-19 04:49] refola opened #168 "Buggy playback after internal rename wind_in_chimes_of_shells -> wind_chimes_of_shells"
### Describe the bug
One of the presets I made doesn't turn its play button into a stop button when I play it, and one of its tracks isn't playing.

### To Reproduce
Steps to reproduce the behavior:
1. In an unspecified earlier version (< 0.7.0) of Noice, save a preset which includes the "Wind in chimes of shells" track.
2. Upgrade to Noice 0.7.0.
3. Press the play button by the saved preset from

[2020-05-19 05:28] ashutoshgngwr commented on #168
@refola the repository is big in size due to binary files. Take your time. I'll try to track down its origin meanwhile.

[2020-05-19 05:34] ashutoshgngwr commented on #168
@refola The bug is understandable. With event based communication between playback service and UI, the service will be crashing in background while UI isn't affected. The key did change in 0.2.x and 0.3.x and it wasn't intentional. If you're on it, please commit the fix. Otherwise let me know and I'll commit it myself.

#### 0.2.x Sound Library https://github.com/ashutoshgngwr/noice/blob/b876cec8a

[2020-05-19 05:39] refola commented on #168
1. I'm not on it. I gave up on downloading the repo (you seem to have found the source line either way). Please commit it yourself.

2. The fix needs to handle both the old and the new names. Merely changing it back will result in the same broken behavior for any preset made with the new "Wind in chimes of shells" track. Maybe you can have Noice normalize both versions to

[2020-05-19 05:50] ashutoshgngwr commented on #168
I'll see what I can do but temporary migration code is unlikely. We can never be sure whether to phase out migration code because users more often keep using older versions.

Other similar issues were introduced  in the same bump as well. #110 #117 This fix have no phase out strategy either. This have to remain their ad-infinitum.

[2020-05-19 10:38] #168 closed

[2020-05-19 12:34] ashutoshgngwr commented on #115
@crogonint https://www.youtube.com/audiolibrary_download?vid=c9c1711e0dfd1421 How about this sample for Crickets?

[2020-05-19 12:43] ashutoshgngwr commented on #142
I am closing this issue because this feature won't be implemented. I'll also pin this issue to further reference.

[2020-05-19 12:43] #142 closed

[2020-05-19 12:46] ashutoshgngwr commented on #112
@crogonint I missed this earlier. There may be two reasons for this.

1. Your alarm takes audio focus and Noice pauses itself. In this case the notification should show a resume button.
2. The device CPU goes to sleep because Noice doesn't hold wake locks. This was by design.

The former case is a design recommendation from Google to avoid clutter in audio playback by multiple apps. The latter sho

[2020-05-19 14:56] refola commented on #168
I'd assume that after a year or so most users either upgraded or won't upgrade.

Reading #169, it looks like your fix only works for users who upgrade directly from older versions. Users who made a preset with "wind in chimes of shells" in version 0.7.0 and then upgrade will have the same problem in reverse.

It looks like those ones also have no compatibility with the buggy version(s). But in tha

[2020-05-19 17:16] ashutoshgngwr commented on #168
Aw crap! I need to revert that fix. I forgot to consider the release gap. 0.2.x is ancient now. Its already phased out. I don't know how you came across this bug. The user base is already small and since we've had no reports prior to this, we don't even need a fix. :neutral_face:

Yeah, thanks for the report but no thanks. :sweat_smile:

_Its true, ladies and gentlemen. Sometimes I think like a sh

[2020-05-20 11:00] ashutoshgngwr commented on #164
Couldn't find a less intense sample for birds. Leaving this open for future.

[2020-05-20 16:15] yashpalgoyal1304 opened #172 "What does timer slider do?"
### Is your feature request related to a problem? Please describe.
I cant understand clearly what the small timer icon on some sound tracks EXACTLY does? (like sea belt beeps, distant thunder, or train horn.) I know that these tracks are non looping, and that the timer slider is maybe related to the gap between repetition, but i couldn't say exactly as i couldn't see the difference in the short tr

[2020-05-20 16:47] ashutoshgngwr commented on #172
I am sorry for the confusion. I've been thinking of adding descriptive text to the app to help users understand features better. The timer slider adjusts the upper bound in the delay between repetition of non-looping sounds. The minimum delay is fixed at about 30 seconds. At each repetition, a delay is randomly chosen.

[2020-05-20 16:58] yashpalgoyal1304 commented on #172
Awww, thats a nice implementation - random amount of delay, and ability to define the range. Thats why (randomness) I couldn't know it myself though.

As for the descriptive texts, i would say that maybe that will require many things which will maybe add clutter to UI. So, how about giving a link to a page here??

That way:
- they will come to know the repository (idk if thats wanted though)
- the

[2020-05-20 17:12] ashutoshgngwr commented on #172
Talk here: https://docs.google.com/document/d/1xxiAsCtqkf72oMN-ehWGWkmcB_2itz20b-Tx3apQTp4/edit?usp=sharing

[2020-05-20 17:19] yashpalgoyal1304 commented on #172
Thanks for the doc, but it was not much related to the issue. Just informing to not keep u waiting (:

[2020-05-20 17:25] ashutoshgngwr commented on #172
Yeah sure man. I'll delete the doc in that case. About the concern regarding the clutter in the UI, I am open to implementing both ideas. A more in depth explanation can live on the web while short descriptive tips can popup in the app. I think the middle ground really does live up to the user experience. But that being said, I don't really have time to make detailed write up as of now and communi

[2020-05-21 03:55] refola commented on #168
I had an old saved preset that in which I must've not noticed the missing "wind in chimes of shells" sound. I only noticed the issue when I was going thru and playing all my presets.

Fair enough. It's a much more minor bug than the entire app crashing. My perfectionism doesn't like this going unfixed, but my lazy side is happy that I don't have to change my preset back. :shrug:

[2020-05-22 02:22] yashpalgoyal1304 opened #173 "Sort in Library"
_(sort in title means for track order)_

### Is your feature request related to a problem? Please describe.
Similar tracks are not ordered/placed consecutively in Library.

### Describe the solution you'd like
_(idk how things work in backend, so if i say something, it means it seems like that to me - not that i know definitively)_
- Library is sorted alphabetically (implicit). So to follow that,

[2020-05-22 02:33] yashpalgoyal1304 commented on #173
Somewhat related is the discussion at https://github.com/ashutoshgngwr/noice/issues/144#issuecomment-619366086

[2020-05-22 02:42] yashpalgoyal1304 commented on #172
Just found out (and posting here for posterity's sake) that if a preset is playing, the parameters of its components can still be edited in library. (i dont know if they will be saved for next time though)

[2020-05-22 03:23] crogonint commented on #115
Interesting.. Raw impression, it's very nice, two crickets, and appears to
have just a touch of background wind in it already. The audio isn't
particularly crisp, but you could enhance it and make it studio quality. I
don't care for the long intermission around 2/3 of the way through the clip
where the second cricket goes quiet for an extended period. That would very
hard to keep the human ear fro

[2020-05-22 03:27] crogonint commented on #112
That's amazing. So how does it keep the device awake all night if it's not
using a wake lock? They really SHOULD have a low power setting which leaves
the audio channel and etc. open. One of the main uses for these devices is
as a music / mp3 player.
 - James T. Long

------------
There are 10 kinds of people in the world - those who understand binary,
and those who don't.

On Tue, May 19, 2020 at

[2020-05-22 04:47] ashutoshgngwr commented on #172
@yashpalgoyal1304 Yes. Editing is by design and no, they are not saved. You'll have to explicitly save the changes to a new preset. On a side note, I came across a bug about a few days ago where save preset button doesn't appear if you play a preset and then adjust a sound's volume or repetition time period.

[2020-05-22 04:55] ashutoshgngwr commented on #173
Sound groups will be needed if sound library grows. This feature was in the back of my head. I've been planning for implementation after #144 and hopefully #62. #62 gives Noice the edge of aggressively expanding its sound library.

For now, alphabetical sort is easier to work with, IMO.

[2020-05-22 04:58] ashutoshgngwr commented on #112
@crogonint The [documentation](https://developer.android.com/topic/performance/vitals/wakelock#best_practices) isn't clear on that. It is suggested that music players are required to acquire wake lock but Noice has been working fine until now (at least for me). I experimented with a few hours of continuous playback in earlier versions and it seemed to work without a hitch.

[2020-05-22 05:25] yashpalgoyal1304 commented on #172
I guessed that, thanks for confirming and further info (:

The save button appears when u change sections. I was doing some further tests but couldnt replicate.

[2020-05-22 05:28] yashpalgoyal1304 commented on #173
Is the sorting automatic as of now?

[2020-05-22 05:36] yashpalgoyal1304 commented on #54
The link is not working as of today. So that probably means that that app has been taken down. So, hooray!

[2020-05-22 06:37] ashutoshgngwr commented on #173
Not sure what you mean by automatic. Everything is sorted by hand here. Anything more than that seemed unnecessary at the time.

https://github.com/ashutoshgngwr/noice/blob/7b727d2cd698077a86d41685a50ebf2fddd83ad4/app/src/main/java/com/github/ashutoshgngwr/noice/sound/Sound.kt#L26-L54

[2020-05-22 07:17] crogonint commented on #112
Interesting

On Thu, May 21, 2020, 10:59 PM Ashutosh Gangwar <notifications@github.com>
wrote:

[2020-05-22 14:17] yashpalgoyal1304 commented on #173
Glad u clarified. I was thinking that there were some collection of sounds. And library is just calling items from that collection and displaying it as a list. In that case the sorting would be automatic. I hope it makes some sense. I dont know how that is implemented though.

[2020-05-22 14:28] ashutoshgngwr commented on #173
@yashpalgoyal1304 We'll come to it when we come to it.

[2020-05-22 17:40] ashutoshgngwr commented on #173
@yashpalgoyal1304 My last remark was in the spirits that currently we don't have this in planned sight so we come it when we come to it. Worrying about its implementation details will only take focus off of things that are currently planned.

[2020-05-26 19:38] ashutoshgngwr opened #179 "Crash on opening the app window after sending it to background"
### Describe the bug

Happening due to the recent change in Service launch logic. Moving the service launch to `onResume` put us in crosshair of a bug in Android 9.

Original bug reports
1. https://issuetracker.google.com/issues/110237673
2. https://issuetracker.google.com/issues/113122354

### To Reproduce
The bug is intermittent. Sometimes it crashes the app. Sometimes everything works as expect

[2020-05-27 09:54] julianrrr commented on #108
Hi, I would like translate the app to spanish (es-ES)... As soon as possible I will create the PR

[2020-05-27 09:56] ashutoshgngwr commented on #108
@julianrrr Can you please translate from 0.7.x branch. There are some strings related changes that aren't in the master yet.

[2020-05-27 10:46] julianrrr commented on #108
Sure, no problem.

[2020-05-27 11:11] julianrrr opened #180 "Add AMOLED theme"
### Describe the solution you'd like
Add new theme to Amoled display's. Something similar to attached screenshot.

### Additional context
![AMOLED theme](https://cdn.neow.in/news/images/uploaded/2019/11/1573495267_discord-amoled-dark-theme-1.jpg)

[2020-05-27 11:41] ashutoshgngwr commented on #180
This was my response to a discussion via email at earlier time. I still stand by it. I don't really understand the hype around all black themes? Is there something else that I might be missing? :curious:

[2020-05-27 12:02] julianrrr commented on #180
Yes, I know it. But I like to have all applications with similar themes if is possible. I could also try to add the them, I don't know if it involves too many changes

[2020-05-27 14:24] ashutoshgngwr commented on #180
@julianrrr Will give it a thought. Right now, the focus is on planned features and issues.

[2020-05-27 16:56] #179 closed

[2020-06-04 09:42] Bubu opened #187 "fastlane/metadata/android/fr-FR/images/featureGraphic.png is corrupted"
This icon will not be used by fdroid as python pillow cannot read it.
Also imagemagick `identify` shows the error:

[code]

[2020-06-04 09:45] ashutoshgngwr commented on #187
Thanks for the report. I fixed this in master. Golang is able to read is but `identify` is still failing. I'll recreate the graphic and push it with the next release.

[2020-06-04 09:49] #187 closed

[2020-06-04 13:11] patogit commented on #108
Maybe translatewiki.net would be useful?

[2020-06-04 13:13] swedneck commented on #108
Perhaps it would be possible to use https://weblate.org to make translating easier?

[2020-06-04 14:46] ashutoshgngwr commented on #108
@patogit @swedneck Created a [GitHub action](https://github.com/ashutoshgngwr/android-missing-translations) to keep track of missing translations. Will integrate it soon. (:

Also looking to do something about the outdated translations, not sure.

[2020-06-04 18:57] patogit commented on #108
https://translatewiki.net takes care of all that sort of translation handling, finding outdated bits, exposes the project to a large community of translators, and costs nothing (donations surely appreciated). But sometimes solving problems in a new way is more fun :) and maybe you'll create new tools along the way.

[2020-06-04 19:01] ashutoshgngwr commented on #108
@patogit You got that right! :sweat_smile:. The other thing is I want to minimize my context switch from GitHub.

[2020-06-05 08:16] devfreedom opened #189 "Use Ogg Vorbis codec for sound files instead of MP3"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Noice app utilizes certain type of sounds which leans toward a (mid-)high frequency band, such as sound of rain, chirping birds, sea wave, etc. But MP3 codec has a limited bandwidth and some encoders usually clip the frequency range above

[2020-06-05 09:24] ashutoshgngwr commented on #189
Hi @devfreedom! I am not an audio expert so I can't really tell if Vorbis will perform superior to MP3. But it should sure loop smoothly since [Android has native support for Vorbis media](https://developer.android.com/guide/topics/media/media-formats#audio-formats).

While editing most of these sounds, I remember applying low-pass and high-pass filters somewhere within range 1.5kHz to 9kHz. I did

[2020-06-05 11:56] devfreedom commented on #189
https://en.wikipedia.org/wiki/Compression_artifact

https://www.soundonsound.com/techniques/what-data-compression-does-your-music

This article explains how the compression of MP3 format impacts the sound quality. The most audible quality loss that people can easily hear would be something like hi-hat, shaker, and guitar chords which share a similar frequency band of the nature sounds I forementio

[2020-06-05 12:54] ashutoshgngwr commented on #189
@devfreedom Thank you for the detailed response. So far I am convinced how vorbis _may_ perform better than AAC. We already have a planned change for sound library in #62. This can be combined with that. Although I still don't understand how will we remove hiss noise from the background which is present in most of the source samples.

Right now I am caught up in other issues with #150 being the to

[2020-06-05 13:11] devfreedom commented on #189
Ah sure, priority as in "feature" not "development", I mean.

I think we need a new collection of high quality sound library then. Original sounds recorded in loseless format and then encoded in high efficiency modern codec. We can also use some publicly available high quality sound samples too, either open source license or public domain.

[2020-06-05 18:29] ashutoshgngwr commented on #189
Right now, most of the sounds are from https://freesound.org and are CC-BY-SA licensed.

If you have any better suggestions, please let me know.

[2020-06-11 02:51] crogonint commented on #112
_Not even gonna try to explain_

Lol!

[2020-06-12 11:53] #112 closed

[2020-06-12 11:53] #149 closed

[2020-06-12 11:53] #150 closed

[2020-06-15 16:30] ashutoshgngwr commented on #139
Deferring all sound related changes to 0.9.x in favor of considering to work on #62 which would require rework on all sounds.

[2020-06-15 16:31] ashutoshgngwr commented on #115
Deferring all sound related changes to 0.9.x in favor of considering to work on #62 which would require rework on all sounds.

[2020-06-16 18:29] ashutoshgngwr opened #200 "Need translators for app localization"
Please refer to the [Weblate project](https://hosted.weblate.org/engage/noice/).

[![Translation status](https://hosted.weblate.org/widgets/noice/-/multi-auto.svg)](https://hosted.weblate.org/engage/noice/)

[2020-06-16 18:36] ashutoshgngwr commented on #108
Closing this in favor of #200.

[2020-06-16 18:36] #108 closed

[2020-06-19 11:18] 532910 commented on #146
Thank you!

[2020-06-21 16:43] devansh00712131 opened #202 "Time duration between various sounds"
It will be very nice addition to the app and will make it stand different for every other app if the time between the sound, for example thunders or rain drops or village sound were randomised

[2020-06-21 18:59] ashutoshgngwr commented on #202
Did you mean #144?

[2020-06-21 19:03] devansh00712131 commented on #202
Similar to that but much simpler, just add a random number generator
(between 40 to 60 seconds) and let the sound come at that second interval.
I noticed that the distant thunder was repeating every 47 second

On Mon, 22 Jun, 2020, 12:30 am Ashutosh Gangwar, <notifications@github.com>
wrote:

[2020-06-22 04:13] ashutoshgngwr commented on #202
Weird. This shouldn't happen because interval is chosen at random for each iteration. So It shouldn't be fixed.

Besides that, 144 is planned and will be implemented.

[2020-06-24 11:38] baditaflorin commented on #139
@ashutoshgngwr love what you are doing here.
Do you know about this project https://freesound.org/?

[2020-06-24 11:39] ashutoshgngwr commented on #139
@baditaflorin yeah. Noise wouldn't have been possible without it. :)

[2020-07-03 15:47] sudomain opened #213 "FDroid link to changelog.md"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Thank you for the great app. I'm not sure what this entails or if a change is even needed on this side of things. The FDroid page appropriately links to the source code, website, issues, and other related pages for this project, but it is m

[2020-07-04 04:49] ashutoshgngwr commented on #213
@sudomain I didn't think that was necessary since change log for latest version is displayed from `fastlane/metadata/android/en-US/changelogs`. But I'll add it there, just in case.

[2020-07-04 12:17] ashutoshgngwr commented on #200
### Locale codes for Fastlane Metadata

Sometimes, these are in different format for Fastlane. Metadata should be at `./fastlane/metadata/android/<locale_code>/`

- Afrikaans – af
- Albanian – sq
- Amharic – am
- Arabic – ar
- Armenian – hy-AM
- Azerbaijani – az-AZ
- Bangla – bn-BD
- Basque – eu-ES
- Belarusian – be
- Bulgarian – bg
- Burmese – my-MM
- Catalan – ca
- Chinese (Hong Kong) – zh-HK
-

[2020-07-05 06:24] shom13 opened #215 "Suggestion for new sound"
Hello, firstly lovely app. Would love it even more if you could add a few more sound options like

- Soft Piano sound(many the merrier)
- The current windchime sound is good, but not as peaceful
- Bells and other sound for meditation
- Binural beats

I hope you could add these to the already awesome collection of sounds in your app.

Thank you

[2020-07-05 06:55] shom13 commented on #215
Soft peacuful Piano sound along with rain is a potent mix for instant inner peace. I understand finding royalty free music is difficult. Hence here is a link to royalty free peaceful piano tunes.

https://www.fesliyanstudios.com/royalty-free-music/downloads-c/peaceful-and-relaxing-music/22

Plenyy of peaceful tunes there.Hope you could add them if its not much of a hastle.

[2020-07-07 06:24] amadeous commented on #139
Discovering your app and like it so far! Other suggestions to help review class material for exam:
- Sound during an exam
- Sound in a library
Thank you for the app! :smiley:

[2020-07-09 07:19] asuh opened #219 "Autoplay continue after interruption"
Love this app and it's potential! Already deleted another that does similar :)

Maybe this is isolated to my Samsung Galaxy S7, but I noticed that after an alarm turned on (set in the Clock app), I dismiss the alarm to turn it off but Noice didn't immediately play again, or restart the sound, as I expected? It'd be great for this feature to be updated to continue after the interruption is dismisse

[2020-07-09 08:27] ashutoshgngwr commented on #219
Hi @asuh!

Thanks for the report. No, the behaviour you're describing is unexpected. Recently Noice had gone through major code changes and it's likely that this bug got introduced in these changes. I'll investigate the issue further and fix this as soon as possible.

[2020-07-09 17:25] asuh opened #220 "Playback time limit?"
Using this on my Galaxy S7, I've let this play through the night since I installed it. I've noticed that it appears to stop on its own after about 7 hours of continuous playback. Is there a time limit to the playback that cuts it off after a certain period of time? I don't set a timer, just opened the app and started the sound I wanted.

[2020-07-09 18:11] ashutoshgngwr commented on #220
@asuh We impose a timeout of 1 day on wake locks. This means that playback, in theory, should continue to play unless wake locks are released. We don't impose any other limits on playback. We've had another report of a similar issue in the past but it is hard to reproduce this and capture logs of the failure.

PS, if you encounter this again, can you take a note of app's memory usage for the last

[2020-07-10 21:44] #219 closed

[2020-07-10 21:52] asuh commented on #220
I turned battery optimization off for Noice and the result was good, it kept going. I will keep monitoring this but I think this might be a fix.

[2020-07-10 22:03] ashutoshgngwr commented on #220
@asuh If that turns out to be the case, then there's nothing we can do about it in the app except putting up a message that tells users to turn off battery optimizations. At any rate, please keep me updated.

[2020-07-12 15:39] octos commented on #189
What about Opus? It would allow higher quality at lower bitrates.

[2020-07-12 17:36] ashutoshgngwr commented on #189
@octos I have very limited knowledge of audio codecs and from my initial reading, it seems like Opus is supposed to be the successor of Vorbis. If that's the case, Opus would make far more sense.

[2020-07-13 14:12] ashutoshgngwr commented on #213
Resolved by [this merge request](https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7097) in F-Droid Data Repository.

[2020-07-13 14:12] #213 closed

[2020-07-13 14:16] ashutoshgngwr commented on #202
Closing this in favour of #144. Also, I investigated for time intervals for each repetition, the random interval selection logic works fine. I am not sure how you reached the conclusion that distant thunder was repeating every 47 seconds.

[2020-07-13 14:21] #202 closed

[2020-07-14 08:36] #173 closed

[2020-07-14 15:32] devfreedom commented on #189
Opus also cuts audio above 20 kHz. Opus shares the similar limitation of MP3 in this case where none of it can properly preserve a high frequency band.

Opus is designed for high efficiency, not high fidelity. I think Ogg Vorbis is still the best option as long as we can get high quality audio sources which is above MP3 320K or OGG Q10. If the audio source is in maximum quality such as PCM/RAW, th

[2020-07-14 16:38] ashutoshgngwr commented on #189
@devfreedom Human ear is most sensitive in the range 2-5 kHz and not that sensitive to frequencies above 20 kHz. Along with that, I have to use low-pass filters (at around 8-12 kHz) to get rid of loud _hiss_ noise from the original samples. Both of these combined renders your concern irrelevant. I also found the following benchmark graph on [this Wikipedia Page](https://en.wikipedia.org/wiki/Opus_

[2020-07-15 18:26] #164 closed

[2020-07-16 02:38] GittyBruce opened #227 "Loudness Equalization"
I love the app, but I find that sudden loud peaks in the audio are disruptive and distracting and undermine the whole relaxation aspect of using the app.

It would be great to get an option to enforce loudness equalization i.e. decreasing the volume difference between the highest and lowest volume parts of a track.

[2020-07-16 02:55] GittyBruce commented on #227
I just went ahead and equalized the sound files manually in the apk. Would still be nice to have loudness equalization, but the app is now usable for me without it so I'm closing this issue.

[2020-07-20 12:57] eanema commented on #215
I'm not sure if it would be preferred to start a new issue, but I figured it's close enough to this issue to piggyback. I would like to make another suggestion for a new sound. I have a newborn baby at home and we have been using this app as a noise generator for her. It is wonderful, exactly what I wanted, simple, NOT just an mp3 player, and loops indefinitely. Thanks for this.

Now the new sound

[2020-07-20 13:24] ashutoshgngwr commented on #215
Hi @eanema,

The work has been slow lately. Will definitely try to add this. Meanwhile, you can play Noice alongside YouTube using the following steps
1. Play desired sounds in Noice
2. Play whatever you want on YouTube (This will cause Noice to pause)
3. Resume Noice from its Notification (This will not stop YouTube and both apps can play simultaneously)

[2020-07-22 19:06] #180 closed

[2020-07-24 20:31] 532910 opened #247 "Indefinite -> Infinite"
Noises are definite, aren't they?

[2020-07-25 02:48] ashutoshgngwr commented on #247
I think it boils down to personal choice of the word here. I'll close this for now.

![dict](https://user-images.githubusercontent.com/7106123/88447267-02a00080-ce4f-11ea-8d2d-24bd1f7433f3.png)

[2020-07-25 02:48] #247 closed

[2020-07-26 14:56] 532910 opened #250 "Market icon has no background and looks bad in the dark mode"
While in launcher the icon looks nice:
![image](https://user-images.githubusercontent.com/14617699/88481981-31a99580-cf67-11ea-9b90-147cb573490b.png)

In F-Droid:
![image](https://user-images.githubusercontent.com/14617699/88481926-e42d2880-cf66-11ea-9001-9a6071542b10.png)
![image](https://user-images.githubusercontent.com/14617699/88481976-26566a00-cf67-11ea-84a6-43067305e350.png)

and GPlay:
![i

[2020-07-26 15:07] ashutoshgngwr commented on #250
Thanks for the report. You can expect this to be fixed in the next release.

[2020-07-28 02:23] samuzamu commented on #215
Hi!
Found this app recently. It's excellently made. I love it. I do have a sound suggestion though.
I want this sound of a distant murmur, like the sound of a small group having a quiet conversation in another room.
Would love if you'd consider it :)
I have a few examples in the general tone I'm thinkig of:
https://freesound.org/people/tfsound/sounds/82171/
https://freesound.org/people/SpliceSound

[2020-07-28 07:42] pawlowskatze commented on #139
Hi, one more sound suggestion please:

- Seagull screaching

It would make a perfect companion sound for ocean waves sound ;)

[2020-07-28 10:11] #250 closed

[2020-07-29 08:48] pawlowskatze commented on #139
Regarding my previous comment (seagull screaching):

I could probably create the desired sound myself - from multiple samples at freesound.org and collate them into a file and submit it here... if someone tells me what container, format, sampling rate and recommended volume level to use.

[2020-07-29 10:42] ashutoshgngwr commented on #139
@pawlowskatze working on [dual samples](https://github.com/ashutoshgngwr/noice/tree/feat/dual-samples). Submitting sound now would mean that I'd have to re-encode everything later when this feature is complete. I am holding onto the suggestions for now. Once the feature is complete, I'll try to add as many suggestions as I can. For now, I think the best thing you can do is submit links to raw samp

[2020-07-29 14:54] ashutoshgngwr commented on #189
Tested with both Vorbis and Opus. ExoPlayer doesn't [support gapless playback for Vorbis](https://github.com/google/ExoPlayer/issues/3470). In theory, Opus loops should work fine but I am still hearing a click sound at the loop end/start. Looks like we're stuck with MP3 because lossless formats will make the APK fat beyond normal.

[2020-07-29 14:54] #189 closed

[2020-07-29 17:49] samuzamu opened #252 "Saved sound combination duplicated after sleep timer screen or wake up timer screen is opened"
### Describe the bug
My list of custom saved sound combinations is duplicated twice, after I've opened either of the timer screens and then go back to the sound combinations screen. If I click on one of the duplicated listings, multiples of the same combinations begin playing. If I then click to stop one of the ones playing, the remaining ones keep playing.

### To Reproduce
Steps to reproduce the

[2020-07-30 02:49] ashutoshgngwr commented on #252
Thanks for the report @samuzamu. I am able to reproduce this and will fix it ASAP.

[2020-07-30 05:59] #252 closed

[2020-08-07 03:55] dyxang opened #270 "Can I import local audio?"
There is a little bit less audio in the library, I think I can customize Then import the white noise audio file from the phone
Will there be such a function in the future? ：）

[2020-08-07 06:34] ashutoshgngwr commented on #270
This was discussed in #142. No, we don't have any plans to support custom sounds. You can refer to the original issue for further clarification. If you want to play your own sounds however, you can play them using any other audio player and play Noice alongside it.

[2020-08-07 06:34] #270 closed

[2020-08-07 06:35] ashutoshgngwr commented on #270
I am marking this as closed. If you have any questions, feel free to continue the conversation. :)

[2020-08-09 12:05] p2635 opened #273 "Alarm (Time based)"
### Is your feature request related to a problem? Please describe.
I prefer to set my alarm based on time and not a countdown timer.

### Describe the solution you'd like
Instead of having a wake-up timer, I would like an option to set an actual time for an alarm (7AM).

### Additional context
N/A.

[2020-08-09 15:19] ashutoshgngwr commented on #273
Noted.

[2020-08-09 15:25] resolritter commented on #189
I was about to open an issue on a similar tone. I was noticing the audio was "stuttering" between loops, so my first idea was to try to remove the silence gaps in gaps on Audacity... Only to find out that's "very difficult" (and definitely beyond my comprehension) to do with MP3.

[Unwanted silence added after exporting in MP3](https://forum.audacityteam.org/viewtopic.php?t=72595)

[Additional lin

[2020-08-09 16:44] ashutoshgngwr commented on #189
@resolritter

I have taken extreme precautions to remove the stuttering in loops and all loops are stutter-free in the latest versions as far as I know. Yes, MP3 encodes silence at the start and end of the audio track; it is part of the encoding and a good decoder takes it into account. e.g., Exoplayer automatically trims that silence on decode but Audacity (for whatever reasons) doesn't. So if yo

[2020-08-14 06:21] ashutoshgngwr commented on #215
@shom13 It doesn't make sense to mix musical instruments with ambient sounds in the app. This is exactly the reason why I designed Noice with such that it can play alongside other music players. I myself tune in Piano with a little ambience to achieve Nirvana. :)

[2020-08-14 06:21] ashutoshgngwr commented on #215
@samuzamu added to in my todo-list. Working on the next update. Should be out in about a week.

[2020-08-15 10:05] amck1nnon opened #283 "Chromecast Speaker Groups"
Hi there,

There appears to be an issue playing to Chromecast speaker groups

In my own testing, audio seems to only be sent to one of the speakers in the group

In my case, I am attempting to play to two speakers, one a JBL Link 10 and the other a Sony LF-S50G.

This is a pretty highly desirable feature for me, because it helps enormously with the believability of the generated sound.

Thanks (:

[2020-08-15 11:17] ashutoshgngwr commented on #283
@amck1nnon Hi!

This was my first attempt at a Chromecast app. Although I don't have multiple devices to test this, I'll see if there's anything obvious that I might have missed.

[2020-08-16 18:05] amck1nnon commented on #283
I appreciate the work and I've popped a donation in through the app. For anyone wondering: I found a workaround (at least in my case) thanks to my phone letting me output the phone's audio to Chromecast rather than needing to go through an app at all.

Thanks (:

[2020-08-16 18:55] ashutoshgngwr commented on #283
@amck1nnon That's good to know. Thank you for your support.

PS I was wondering when you used the Noice to cast audio, was it always the same speaker at fault or one of them would play randomly? I think it should be an out of memory thing if it was the same speaker that was at fault every time you were trying to cast. If that's not the case, then this a definitely a bug.

[2020-08-20 08:57] #62 closed

[2020-09-01 09:47] #115 closed

[2020-09-01 09:49] ashutoshgngwr commented on #139
I have added whatever suggestions made sense to me. If you still think that I've missed something or have more suggestions, feel free to open up a new issue. Please do not add suggestions to existing issues. It becomes really hard to track.

[2020-09-01 09:50] ashutoshgngwr commented on #215
I have added whatever suggestions made sense to me. If you still think that I've missed something or have more suggestions, feel free to open up a new issue. Please do not add suggestions to existing issues. It makes it really hard to track.

[2020-09-01 09:50] #215 closed

[2020-09-01 09:50] #139 closed

[2020-09-01 09:53] ashutoshgngwr commented on #227
Hey @GittyBruce

I tried to apply loudness normalization effect in Audacity on sounds and it didn't really work as I expected. Most sounds were getting amplified as far as I remember. I don't have much expertise with audio editing. More tips might be useful here.

[2020-09-01 12:47] #273 closed

[2020-09-01 22:20] GittyBruce commented on #227
hey @ashutoshgngwr

in audacity, the loudness normalization effect is intended to equalize the loudness across multiple tracks. It sets the loudness of a track to a certain level. Applied to multiple tracks, it sets them all to the same level of loudness.

The loudness equalization I was looking for is best done with the compressor effect (my settings in pic attached). This will compress volumes a

[2020-09-02 10:29] ashutoshgngwr commented on #227
So I applied an Audacity macro to batch process the effect. I was able to get workable output for 21/35 sounds. The rest of the samples didn't produce a workable result and I am omitting them for now.

[2020-09-02 10:44] #227 closed

[2020-09-04 20:23] #172 closed

[2020-09-05 03:53] #220 closed

[2020-09-05 03:55] asuh commented on #220
Thanks for the reminder stalebot. I think your suggestion to turn off battery optimization for Noice was the permanent fix so we're good here!

[2020-09-05 09:06] ashutoshgngwr commented on #164
Fixed in #305

[2020-09-06 16:43] ashutoshgngwr commented on #144
Going with these two combined. Not sure about the end result. Let's hope this works out.

[2020-09-07 18:46] ashutoshgngwr opened #320 "[Espresso] The return of the flakiness"
### Describe the bug
[AppIntroTest](https://github.com/ashutoshgngwr/noice/blob/618c086416c655af86c3bda2bdddc930f0b73e3b/app/src/androidTest/java/com/github/ashutoshgngwr/noice/AppIntroActivityTest.kt) suite has somehow retriggered flakiness in the tests. Tests fail continuously until they pass, by retrying indefinitely. I ran these tests for about an hour on an infinite loop on my machine and the

[2020-09-09 08:37] #320 closed

[2020-09-12 03:21] llewlem888 opened #328 "Make Saved Presets editable."
It seems impossible to edit saved presets.

### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Additional context
Add any other context or screenshots about the feature request here.

[2020-09-12 05:16] ashutoshgngwr commented on #328
1. Play a preset
2. Edit its settings from the library
3. Save it under a different name

And edit option will also need a similar effort from users' side but with different terminology.

Please let me know if this resolves the issue.

[2020-09-13 12:24] Mickael-Martin commented on #328
Another solution : Maybe you can add a button "edit" at the same place as rename and delete witch go the the library menu and display a toolbox with "Change your mix and save", the button "save" display by default the selected preset and the user can overwrite a preset with the same name (with confirmation).
But it's a big work I thing.

[2020-09-14 06:36] ashutoshgngwr commented on #328
@Mickael-Martin while the flow is very straightforward, requires a lot of change in existing flows compared to the value added. Besides, when editing a preset, it would be desirable to have it playing so that one could get instant feedback on adjustments. It again pretty much boils down to what I mentioned earlier.

I'll keep the issue open and try explore the idea. As of now, I can't think of a w

[2020-09-26 15:43] ashutoshgngwr opened #344 "Gaps in looping sounds after version 0.9.1"
### Describe the bug

From the [Play Store review](https://play.google.com/store/apps/details?id=com.github.ashutoshgngwr.noice&reviewId=gp%3AAOqpTOGhI1T4sGNb3ET6I7B27uX8KbbDDg-jZaiJOyTXae8sxfZn8YiG13T05P_GwbiwvwtyJQPk8nY2JlfPmA)

### To Reproduce
Play a looping sound and wait

_Blocked by ExoPlayer upstream. See #345 for relevant information._

[2020-10-06 18:31] jayadevanraja opened #358 "Volume Is Too Low"
### Describe the bug
The volume is too low

### To Reproduce
Steps to reproduce the behavior:
1. Start the app
2. Play the preset sounds.

### Expected behavior
The volume should be loud enough to wake us up, from sleep. I can hardly hear it.

### Others
 - Device: Moto G5
 - Android Version: 8.1

[2020-10-07 07:31] ashutoshgngwr commented on #358
Hi @jayadevanraja

I realise that Wake up timer doesn't use "Alarm volume" when starting the preset. As a result, user's media volume can be low and the preset will play at that volume. Is that your concern?

[2020-10-08 00:17] GriffinMLN commented on #200
Hey @ashutoshgngwr , want me to add Bulgarian translation?

[2020-10-08 02:17] ashutoshgngwr commented on #200
@GriffinMLN yes please!

[2020-10-08 09:01] patzi opened #361 "BBC Sound Effects as possible audio source"
The BBC has released 16000 sound files see http://bbcsfx.acropolis.org.uk/
I couldn't find the conditions under what kind of licence a file could be added to noice. So maybe the licence of the files does not fit to noice.

[2020-10-09 05:45] crogonint commented on #62
Just an update, I finally located my massive library of sample sounds! Woo-hoo!! Just want to let you know I didn't forgt, I'll get this back around on the front burner sooner or later. Actually, if you're moving to hi-fidelity sounds, I'll have to double check the sample rates on my end. I use this stuff for sound effects mainly, so I'm not always very picky about getting the best sample rate. ;)

[2020-10-09 06:53] ashutoshgngwr commented on #62
@crogonint This is done, closed and released. Thanks for your input!

[2020-10-09 07:04] ashutoshgngwr commented on #361
I don't think the license permits redistribution of sounds. Their homepage has the following link

That page mentions the following

I think _Unlimited usage by 1-user_ implies no redistribution.

PS, it's a good source to use in future sound suggestions. I'll try to contact them via email and ask for clarification.

[2020-10-10 11:55] JekRock commented on #358
Agree. The volume of some sound could be increased

[2020-10-11 02:42] avronr opened #364 "New Sound Request."
The sound of pen/pencil/markers on paper, pages turning etc would be a great addition, They can be used while studying and would be useful to a lot of students. Please do consider adding this sound in a future release. Great app and thanks for making it available on F-Droid :heart: .

[2020-10-11 10:31] rancidfrog commented on #26
Having apk|APKs in releases is useful, even when signed by 3rd-party(unfortunately)
I.E.
https://github.com/TwidereProject/Twidere-Android/releases
![](https://i.imgur.com/uPUJzG9.png)

[2020-10-11 10:43] IzzySoft commented on #26
@rancidfrog just note that the names of those APKs rather reflect the flavor they were build from than the signing party. Usually, such attached APKs are signed by the developers themselves. I never encountered an exception to that yet (though admittedly I didn't "keep watch").

[2020-10-11 21:53] #283 closed

[2020-10-16 20:26] JekRock commented on #361
Here is what the license states:

So, it's definitely better to ask the permission first

[2020-10-17 14:18] lucastsantos commented on #200
I would like to help with pt-br translations 😄

[2020-10-17 14:20] ashutoshgngwr commented on #200
@lucastsantos Please go ahead and create a PR! Ping me if you have any questions. :)

[2020-10-18 07:47] ashutoshgngwr commented on #364
@avronr _Public library_ already has page-turning sounds. Not sure about making an individual sound for pen/pencils on paper. Should I find something and add it to the public library sample?

[2020-10-21 05:48] crogonint commented on #62
Congrats! I haven't seen an update come through lately, I'll check and see why I missed it. :)

[2020-10-26 20:38] jayadevanraja commented on #358
@ashutoshgngwr
I am extremely sorry for the late reply.

I started looking at the preset sounds.

I have set all my volume controls like (1) Media Volume, (2) Alarm Volume (3) Ring Volume (4) the volume control inside the app, to maximum. Still I can hear the sounds only when I put my ear near the phone.

I liked the idea behind this app. But it is unusable, since the sounds are all too small. Tha

[2020-10-30 17:50] akissz opened #399 "Noice is great app, Please port to OSX and FreeBSD"
The noise app is great and good for people with disabilities. Please can someone start to port this app to computer operating systems, for example I would like both OSX and FreeBSD. I can see myself using the app at night. But I do not personally use a phone at night. But I use a computer. So having the computer option would be very good.

[2020-11-09 07:27] #328 closed

[2020-11-13 23:28] braham-snyder commented on #358
Agreed. I do not use this app anymore since the maximum volume is simply too low. Compare against eg [White Noise Generator](https://play.google.com/store/apps/details?id=net.relaxio.relaxio).

[2020-11-14 09:45] ashutoshgngwr commented on #358
@braham-snyder @jayadevanraja Now that there's another viable alternative, there's no need to keep this open.

[2020-11-14 09:45] #358 closed

[2020-11-14 23:53] tonimad commented on #364
Hello!

Two questions;

1. How do I add new sounds?
2. How do I add a new category?

[2020-11-16 20:52] winterwolfi opened #408 "low volume for all sounds"
ive done some testing on both of my phones (galaxy s7 and galaxy s9) and the volume seems to be just a little too low in this app compared to others.

even with in app volume at 100% i still really have to crank my volume to hear anything, its not a huge problem by itself but playing along with other apps its a bit annoying.

i saw the other closed issue about this on here and yea, there are alter

[2020-11-17 06:54] winterwolfi commented on #408
awesome :)

[2020-11-25 12:50] Lesik opened #419 "Document the process of applying equalization in CONTRIBUTING.md"
### Is your feature request related to a problem? Please describe.
Some (21 of 35 as of 2020-11) sounds in this repo are equalized (#313). When adding or modifying sounds, equalization should be applied to them. This process should be documented in CONTRIBUTING.md.

### Describe the solution you'd like
A step-by-step guide on how to equalize sounds, that is easily understood even by contributors w

[2020-11-25 12:55] Lesik commented on #419
As of 2020-11, @ashutoshgngwr noted that not all sounds produce acceptable results when equalized. The following command might be of help, which, when run in the root of the repo, prints the file paths of all the sounds that @ashutoshgngwr deemed equalizable and writes them to a file. Audacity can then be instructed to open the files as separate tracks in one window, instead of one window per file

[2020-11-25 13:13] Lesik commented on #419
@GittyBruce According to my understanding, loudness normalization level is related to the input sounds it is applied on. If you apply it on two files of which one is very loud and the other very quiet, it will normalize both to a middle level. If it is applied on two loud or quiet files, they will (mostly) retain their loudness because on a relative scale, there is (almost) nothing to normalize. T

[2020-11-25 13:41] ashutoshgngwr commented on #419
@Lesik - @GittyBruce implied applying the compressor effect. AFAIK, it tries to minimise the gap between the highest and lowest amplitude of the sound wave. The following excerpt is from Wikipedia:

From what I've observed, the end result is a bit more smooth on the ear. IMO, it's not necessary to apply the effect on each and every sample. It can be applied if the end result sounds better than the

[2020-11-26 10:10] #419 closed

[2020-11-26 10:15] ashutoshgngwr commented on #419
Hey @Lesik

I went ahead and made all the changes. I've also reverted the 3 beep sample to the old 2 beep sample. https://github.com/ashutoshgngwr/noice/commit/654a2c9c58d8fa1a7321186847e055789f1d61d5

[2020-11-26 11:44] Lesik commented on #419
Thanks!

[2020-12-03 16:43] #408 closed

[2020-12-03 16:51] ashutoshgngwr commented on #144
I had started to work on this a couple of times over the past few months and for one reason or another, I haven't been able to complete the implementation. I am marking this as "up for grabs" so that if anyone is available to take this over, they should be able to. I am also deleting the working branch that I had since I have mostly forgotten about what I had finished and what was still remaining.

[2020-12-04 12:36] franciscot opened #426 "The Noice notification Player drains the battery"
### Describe the bug
Sometimes Noice drains my battery. I can see that Noice's player appears in the notification when I turn on or off a headset. Even if Noice is not being used or is closed.

### To Reproduce
Steps to reproduce the behavior:
1. Noice is "closed" or not using
2. Plug or unplug headset.
3. Noice opens notification player.
4. Turn off my tablet. (sleep mode)
5. Noice drains my batt

[2020-12-04 13:08] ashutoshgngwr commented on #426
Hi @franciscot!

This is (was) the intended behavior. Noice expects an user to manually _stop_ the player from the notification. Hence, the current behavior will pause the playback when you unplug the headset, but Noice won't release its resources unless you click the _stop_ button from the notification. I can see why this should not be the intended behavior.

PS, in some other cases, e.g. when yo

[2020-12-04 13:33] #426 closed

[2020-12-04 13:35] ashutoshgngwr commented on #426
I have fixed this, but you'll have to wait for the next release. Until then, consider manually stopping Noice from the notification after unplugging headphones.

[2020-12-04 18:36] ashutoshgngwr commented on #364
Thanks for the suggestions, but I am closing this due to inactivity. Feel free to re-open or leave a comment if you still want the missing item(s) to be added.

[2020-12-04 18:36] #364 closed

[2020-12-04 18:39] ashutoshgngwr commented on #399
I am closing this for now since it is way out of scope for this repository. If someone wants, they can port it to macOS and other platforms as Noice is covered by the MIT license which gives them every right to do so.

[2020-12-04 18:39] #399 closed

[2020-12-04 18:41] ashutoshgngwr commented on #361
I am closing and pinning this issue since it's not really an issue and more of an additional resource for future contributions/contributors.

[2020-12-04 18:41] #361 closed

[2020-12-05 10:36] franciscot commented on #426
Thank you very much @ashutoshgngwr
Great Job!

[2020-12-07 12:18] berkaygunduzz opened #427 "Translation help for strings.xml"
I can't find these strings in app and their translations depends on usage, what they are represent or how can i find them in app?
- repeat_time_period
- later
- never
- mood
- any
- focus
- relax
- intensity
- intensity_description
- dense
- light

[2020-12-07 12:27] ashutoshgngwr commented on #427
@berkaygunduzz

- repeast_time_period &mdash; content description for accessibility tools https://github.com/ashutoshgngwr/noice/blob/15acf89b7cdb3c0b53c9bbc56f9baa8fdada2f50/app/src/main/res/layout/sound_list_item.xml#L75
- later, never &mdash; In in-app review modal that is shown randomly in F-Droid app variant https://github.com/ashutoshgngwr/noice/blob/15acf89b7cdb3c0b53c9bbc56f9baa8fdada2f50/

[2020-12-07 12:32] berkaygunduzz commented on #427
Thanks, and also, for about fragment, is it must to add region? my translation is only tr, should i convert it to tr-TR?

[2020-12-07 12:35] ashutoshgngwr commented on #427
I am not sure if I am the best person to answer that. If your translations are applicable to a specific region, I'd suggest you use the regional qualifiers everywhere. If you're providing generic translations that applies to all the regions, you can leave out the regional qualifier.

[2020-12-07 12:38] berkaygunduzz commented on #427
Ok, i think i will leave region. Thanks again for your help.

[2020-12-07 13:12] #427 closed

[2020-12-07 14:14] ashutoshgngwr opened #429 "Play Store app variant doesn't show donation buttons properly"
### Describe the bug

Donation buttons on the Play Store variant don't show correctly. The same issue, although not seen on the emulator screen, can be extrapolated to DurationPickerView

### To Reproduce
Steps to reproduce the behaviour:
1. Install the Play Store variant
1. Go to Support Development screen and scroll down

### Screenshots

![2020-12-07_19-39](https://user-images.githubusercontent

[2020-12-07 14:16] ashutoshgngwr commented on #429
Can be resolved by using [flexbox-layout](https://github.com/google/flexbox-layout) as the parent container in both cases.

[2020-12-08 15:07] berkaygunduzz opened #442 "Tidying up the 'strings.xml' files"
### Is your feature request related to a problem? Please describe.
When i translate, it was hard to find out where am i and where is the string that i will control.

### Describe the solution you'd like
I want to group strings and make topic comments to their head for all string.xml files.
Group names that i suggest:
- Navigation Drawer
- Library
- Saved Presets
- Sleep Timer
- Wake-up Timer
- The

[2020-12-08 15:20] ashutoshgngwr commented on #442
@berkaygunduzz While this sounds awesome, you'll have to do it for all the locales to keep things consistent. I'm open to accepting these changes if you're upto it.

[2020-12-08 15:37] berkaygunduzz commented on #442
Great, i will start it as soon as possible.

[2020-12-08 19:11] sabo3 opened #443 "Adding Pomodoro technique to Noice"
It would be nice to see a pomodoro technique mode built in this app, in a similar way to how that [Tide](https://play.google.com/store/apps/details?id=io.moreless.tide) app works.

[2020-12-08 19:16] ashutoshgngwr commented on #443
Thanks for the suggestion. I'll check this.

[2020-12-08 19:31] berkaygunduzz commented on #442
@ashutoshgngwr How it looks like? This is a draft and it will be alphabetical. If you have suggestions i'm open to them.
[strings.xml](https://github.com/ashutoshgngwr/noice/files/5661428/strings.xml.txt)

Btw, i won't make it hand by hand, i will make a Python script that will do it. Also i will share it when finished.

[2020-12-08 19:34] ashutoshgngwr commented on #442
@berkaygunduzz  Yeah, this works! Much better than the what we have now.

[2020-12-08 19:39] berkaygunduzz commented on #442
I don't have a full perfection on app so when you have time, can you control that all strings are in correct topic?

[2020-12-08 19:53] ashutoshgngwr commented on #442
I made a few changes and added more granular sections. I accidentally replaced 3-blank lines by 2-blank lines. You can keep whichever you prefer.

[strings.xml.txt](https://github.com/ashutoshgngwr/noice/files/5661560/strings.xml.txt)

[2020-12-08 19:55] berkaygunduzz commented on #442
Looks great, thanks.

[2020-12-09 08:40] ashutoshgngwr opened #444 "Add a global volume control to Wake-up timer"
### Is your feature request related to a problem? Please describe.

When a user sets a wake-up timer, they might be unaware of the device's media stream volume. It can be low - or in worst case mute - which means that wake-up timer will be useless in this scenario.

### Describe the solution you'd like

A control to select a desired volume on wake-up timer screen. When the wake-up timer goes off,

[2020-12-09 12:12] berkaygunduzz commented on #442
@ashutoshgngwr Because of my text editor (gedit) , it converted special chars to codes. Is it problem? How can i fix it? Here is [commit](https://github.com/berkaygunduzz/noice/commit/86add4ce01f86d358b5aff372e4ee8c8f6d9d10b)

[2020-12-09 12:20] ashutoshgngwr commented on #442
Yeah, I don't think it will render correctly. PS, you can try another code editor like [VSCode[(https://code.visualstudio.com/download).

[2020-12-09 12:22] berkaygunduzz commented on #442
Ok, i will try to fix it.

[2020-12-09 12:24] ashutoshgngwr commented on #442
@berkaygunduzz Ignore that comment. As you said, it was the script that did this. Let me see if I can find a fix.

[2020-12-09 12:25] ashutoshgngwr commented on #442
Could you please share your script so that I know what I am dealing with?

[2020-12-09 12:44] berkaygunduzz commented on #442
It's a bit messy. Tested and worked with Python 3.8.6
[tidy.zip](https://github.com/ashutoshgngwr/noice/files/5665890/tidy.zip)

[2020-12-09 12:45] berkaygunduzz commented on #442
Script doesn't makes sense with tabs, i made them manually.
Btw, I can fix it with [this](https://www.branah.com/unicode-converter)

[2020-12-09 12:52] ashutoshgngwr commented on #442
@berkaygunduzz On line 38, if you pass another parameter `encoding="UTF-8"`, it will write strings as UTF-8 byte sequence. I tested it, it fixes the issue.

Ref: https://stackoverflow.com/questions/10046755/write-xml-utf-8-file-with-utf-8-data-with-elementtree

[2020-12-09 12:58] berkaygunduzz commented on #442
Well, that's great. Thanks

[2020-12-09 13:06] berkaygunduzz commented on #442
Do you want me to delete topic comments if it has no strings?

[2020-12-09 13:08] ashutoshgngwr commented on #442
Yeah, you can delete the empty ones.

[2020-12-10 05:41] #442 closed

[2020-12-10 16:26] ashutoshgngwr opened #447 "Community maintained presets"
A few presets (about 5?) hand-picked by the community that will be shipped with Noice.

Pending discussion! Feel free to leave your thoughts.

[2020-12-11 06:36] berkaygunduzz commented on #447
What about environmental presets?
For example a seaside camp:
Birds %5
Seagulls %15 2m
Bonfire %50
Seaside %30
Soft Wind %20
That's just a draft but what about that idea?

[2020-12-11 08:46] ashutoshgngwr commented on #447
@berkaygunduzz That's a great example, but I think we should normalize volumes to the maximum. What I mean is that we can set Bonfire to 100% in your example and adjust all others in proportion.

I was also thinking that we can keep this issue open so that more people can pitch their presets and vote on them using reactions. After we have enough data, we can pick the top 5 presets and take it from

[2020-12-11 08:47] #447 closed

[2020-12-20 14:47] vtwindsurfer opened #452 "Add custom sound slots"
Just installed and liking it so far. Would it be possible to add a section for "Custom sounds" with one to three slots that would allow you to pick a sound from your device? I thought it would be nice to be able to record my own sounds to use as layers.

[2020-12-20 15:02] #452 closed

[2020-12-27 08:21] franklinbill opened #458 "Text overflow with large font-size in App Intro slides"
### Describe the bug
A clear and concise description of what the bug is.
Dear developer!
In the process of using, I found a bug in layout / display. As shown in the figure, in the first page, the text in the red box is half blocked. This may be an adaptation problem. I suspect it is because **display and font size** are set to large (mainly due to **display size**).
Because of some problems with m

[2020-12-27 08:34] ashutoshgngwr commented on #458
@franklinbill Thanks for reporting the issue. Please consider the following

1. We use [AppIntro](https://github.com/AppIntro/AppIntro) component to display these slides.
2. This portion of the app is not critical. It doesn't add any functionality besides explaining what the app does.

I see you've already opened an issue at https://github.com/AppIntro/AppIntro/issues/915. I'll try to find time to

[2021-01-02 23:56] pizzapim opened #462 "Playing sounds dampens music from other app"
### Describe the bug

I wanted to have music playing and sounds from the Noice app simultaneously, but it dampens the music of the other app. It only happens the first time I play a sound. If I stop and then restart the sound, the music is not dampened.

### To Reproduce
Steps to reproduce the behavior:
1. Play some music from another app (Spotify in this case)
2. Stop and start the Noice app
3. P

[2021-01-03 22:18] pieterjoanUvA opened #463 "Purring Cat sound has mouse clicking and other household noise"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I really love the purring feline sounds, since it remembers me of my house-cat Poema, a small full-black female cat that lived around our house, sometimes went on the roof to look down on the neighbourhood, and was fun to play with.

### De

[2021-01-04 04:28] ashutoshgngwr commented on #462
I am able to reproduce the issue. I'll further investigate it later.

[2021-01-08 07:25] ashutoshgngwr opened #469 "Add shortcut to set "Saved Presets" as app's starting screen"
### Is your feature request related to a problem? Please describe.

From https://news.ycombinator.com/item?id=25682114

### Describe the solution you'd like

I have three potential solutions in mind.

1. Add a setting to make "saved presets" initial screen on opening the app.
2. Make both "library" and "saved presets" tabs on the initial screen.
3. Allow users to add a launcher shortcut for openin

[2021-01-24 11:13] FedericoConcas opened #479 "Add your own sound feature"
### Is your feature request related to a problem? Please describe.
Instead of creating an endless list of sounds based on user requests, you could just keep the curated list as it is and allow users to import and play their own sounds.

### Describe the solution you'd like
An import button allows you to load a sound and name it.
With reference to the BBC sounds and licences, the BBC licence mentio

[2021-01-24 11:46] ashutoshgngwr commented on #479
Closing in favor of https://github.com/ashutoshgngwr/noice/discussions/452.

[2021-01-24 11:46] #479 closed

[2021-01-27 22:54] MakiWolf opened #484 "Elements are missing in the menu on tablets"
### Describe the bug
"Library" and "Saved Presets" are missing in the menu on tablets

### To Reproduce
Steps to reproduce the behavior:
1. Open the app
2. Open Menu

### Screenshots
![issue](https://user-images.githubusercontent.com/73300633/106064537-550df280-60fa-11eb-9c84-147ce52d5c8f.gif)

![grafik](https://user-images.githubusercontent.com/73300633/106064561-5ccd9700-60fa-11eb-8c14-e5e76b6cf

[2021-01-28 11:14] ashutoshgngwr commented on #484
Wierd. Will check it out. Thanks for the report!

[2021-01-28 20:42] Wikinaut opened #485 "A way to play own sounds (on the device)"
I would be nice to have own sounds - and some controls - as further sounds available.

[2021-01-29 03:15] ashutoshgngwr commented on #485
Closing in favour of #452

[2021-01-29 03:15] #485 closed

[2021-01-29 04:35] szmt commented on #469
I vote for solution 1.

[2021-01-29 11:23] #484 closed

[2021-01-29 12:44] #429 closed

[2021-01-29 17:39] #469 closed

[2021-01-29 18:11] ashutoshgngwr opened #486 "24 hour time picker format in wake-up timer"
Via email

[2021-01-30 14:31] HolySoap opened #487 "Bringing it natively to Linux."
I would love to see this fantastic piece of software running natively on Linux and not just on mobile. Are there any plans or can you consider it in the future?

The best way (I think) would be trough [Flathub](https://flathub.org/home) and how you submit can be found [here on GitHub](https://github.com/flathub/flathub/wiki/App-Submission), the front and backend is fully open-source.

There is alr

[2021-01-30 14:45] ashutoshgngwr commented on #487
Not possible to port Noice to any other operating system since the client is written using native Android SDK. The best bet is to write a controller web-app to control the [Chromecast receiver app](https://github.com/ashutoshgngwr/noice/tree/master/cast-receiver) [[Docs](https://github.com/ashutoshgngwr/noice/blob/master/docs/CONTRIBUTING.md#cast-receiver)].

[2021-01-30 14:48] ashutoshgngwr commented on #487
I am moving this issue to the discussions for now since it's neither planned nor in the current scope of this project.

Also related to issue https://github.com/ashutoshgngwr/noice/issues/399.

[2021-01-30 14:55] #487 closed

[2021-01-30 14:57] ashutoshgngwr commented on #399
Track further progress in https://github.com/ashutoshgngwr/noice/discussions/488!

[2021-01-30 15:16] ashutoshgngwr commented on #486
Closed by https://github.com/ashutoshgngwr/noice/commit/06afc068b81cc55cdebd33178b517471fc1f30ab

[2021-01-30 15:16] #486 closed

[2021-01-31 12:37] #444 closed

[2021-01-31 18:47] ashutoshgngwr commented on #462
I have fixed the underlying bug, and it doesn't satisfy your specific requests. The dampening of sound is the expected behaviour. Noice requests _partial audio focus_ before playing any media. The Android framework dampens the sound of the other player to comply with this request. The issue was that once Noice abandoned the audio focus, it wasn't re-requesting it again. Hence, the other music play

[2021-02-01 21:30] #463 closed

[2021-02-02 15:38] pieterjoanUvA commented on #463
Thank you for your efforts.
With kind regards, Pieter Joan

[2021-02-02 17:06] ashutoshgngwr commented on #463
Hey @pieterjoanUvA

I didn't think you were active on GitHub. I tried to remove as much disturbance from the sample as I could. You can still hear some deep hiss noise caused by the movement of the microphone. Unfortunately, it is present all over the original sample and I couldn't remove it. Let me know what do you think of the updated sample. You can listen to it [here](https://github.com/ashuto

[2021-02-03 10:30] #458 closed

[2021-02-09 22:00] brandonaut opened #502 "Visual confirmation that the Wake Up timer is set"
### Is your feature request related to a problem? Please describe.

When setting the Wake Up timer, I find it difficult to tell if the alarm is actually set or not. There's not a clear indication that it's enabled.

### Describe the solution you'd like

I really like how the native Android clock handles this. When you set the alarm time, it immediately shows a toast notification with the remaining

[2021-02-09 22:16] ashutoshgngwr commented on #502
@brandonaut I just pushed a release and didn't notice this issue. I'll definitely add this in the next release.

[2021-02-10 04:30] nitrocode opened #503 "Share presets"
# Is your feature request related to a problem? Please describe.

My friend has a few presets set and to copy them I had to manually do it.

# Describe the solution you'd like

It would be nice to export and import presets so they can be shared

Love the app! Ty

[2021-02-10 04:37] nitrocode opened #504 "Wake up timer resets time after changing preset"
# Is your feature request related to a problem? Please describe.

I noticed that when I want to set a wake up timer, I set the time first and then I set the preset and that would reset my time to the original value instead of the value that I had previously set.

# Describe the solution you'd like

Keep the time the same even if the preset is changed.

I also only have a single preset. The app cou

[2021-02-12 12:13] robercoding commented on #504
Hi @ashutoshgngwr,

I'd like to contribute for the first time to an open source project, could you assign me this task and try to implement a solution?

[2021-02-12 12:14] robercoding commented on #504
Hi @ashutoshgngwr,

I'd like to contribute for the first time to an open source project, could you assign me this task and I try to implement a solution?

[2021-02-12 12:46] ashutoshgngwr commented on #504
Hey @robercoding! If possible, please also add a test-case demonstrating the faulty behaviour so that it doesn't break with future changes.

[2021-02-14 00:47] MakiWolf opened #505 "Text is cut off on small devices"
### Description

Text is cut off on small devices in AppIntro.

### To Reproduce
Open menu and select help or by the first start of the app AppIntro starts by default.

### Screenshots

![grafik](https://user-images.githubusercontent.com/73300633/107865367-d210ca00-6e65-11eb-8916-2278f0dbbea0.png)
The last line in GERMAN TRANSLATION is cut off.

### Others
- Device: Sony Xperia XA AND Nexus 5 API

[2021-02-14 05:03] ashutoshgngwr commented on #505
Nothing we can do on our end besides rephrasing the string to be shorter.  The app introduction is created using a third-party component (https://github.com/AppIntro/AppIntro).

[2021-02-14 12:29] MakiWolf commented on #505
Thanks for answer, but I think making the string shorter does not solve the problem at all. Because there are also more smaller devices than the Sony Xperia XA. I just have set up a Nexus One API 30 in Android Studio Emulator and there is also in ENGLISH TRANSLATION, the last line cut off. I am quiet new to this AppIntro, but maybe there is a possiblity to make the text scrollable, where you can s

[2021-02-14 13:00] ashutoshgngwr commented on #505
I guess we can make a custom layout fragment with the same layout but the icon should auto-adjust its dimensions (filling the space available on screen).

[2021-02-18 01:59] blackandyellowgecko opened #523 "Brown noise volume is too low"
### Is your feature request related to a problem? Please describe.
I need to slide the volume beyond the "safe volume" zone (that mark, with the red color, to tell the user that raising the volume that much might be dangerous to the ears) to hear brown noise better. After some time, the phone gets back to the volume to the "safe zone" mark and this is bad because brown noise is very good to sleep

[2021-02-18 09:44] ashutoshgngwr commented on #523
@blackandyellowgecko Which app version are you currently using? 0.15.0 ships with slightly louder sounds.

[2021-02-23 18:59] yashashebbarabailu opened #534 "Suggestions for new sounds"
If you haven't found it already. I found a source for ambient sounds which might be helpful for adding more sounds. There are many free sound here. More noice please.

[Royalty free sounds](https://freetousesounds.bandcamp.com/)

[2021-02-25 03:07] ashutoshgngwr commented on #534
Adding more sounds without a considerable number of requests for specific sounds will make the app bloated with useless sounds. Closing this for now. Let me know if you have any specific requests!

[2021-02-25 08:39] Watson15683 opened #536 "Android Lancher Shortcut does not work a second time, after Timer has run up"
### Description
The Android Shortcuts for Presets do work when they are started again, when timer has run up.

### Screenshots
This is what i mean by "Android Luncher Shortcut"
![screenshot](https://user-images.githubusercontent.com/79628154/109123101-be107680-7749-11eb-8d65-92e08674049d.jpg)

### To Reproduce
1. make a Preset **"A"**
2. create luncher shortcut with **"A"**
3. start playing **"A"*

[2021-02-25 09:00] ashutoshgngwr commented on #536
I am able to reproduce it. I'll investigate it further when I have more time. You can expect it to be fixed in the next release, but I don't know when it'll be. In the meantime, I found that the preset is played if you close Noice using the home screen button and tap on the shortcut again (doesn't play for the first time but works fine the second time).

[2021-02-25 10:30] Watson15683 commented on #536
Thank you for your answer.
For me the whole "luncher-sortcut-input-system" seems to be broken after the process I described.
I can not convience the App to play the Preset "A" (or any other Preset) via the shortcut again, not matter what i do.

### More about the "Broken State"

what i tried to make the shortcut work again

1.  closing the app via the **"home-button"** and opening it again via the

[2021-02-25 10:54] ashutoshgngwr commented on #536
@Watson15683 I'll look into it. Thanks for your input! It'll certainly speed up the process.

[2021-02-25 11:24] Watson15683 commented on #536
And the Problem has noting to do with the "Timer-funtion".

### to reproduce much shorter

1. make a Preset "A" and a Preset "B"
2. create luncher shortcut with "A" and a luncher shortcut with "B"
3. close the app "Noice" in the Android App Manager (swipe the app to the top of the screen)
4. start playing "A" via the luncher shortcut
5. close the App "Noice" via the "home-button"
6. try to open Pr

[2021-02-25 21:19] anarcat opened #537 "make random mode more prominent"
### Is your feature request related to a problem? Please describe.

I recently found out about the "random" feature, which seems to pop up as a little button on the bottom right. It's pretty neat!

Yet I can't figure out how to bring it back! If I start playing some sounds, it disappears and gets replaced by the "disk" icon to save the presets...

### Describe the solution you'd like

It would be

[2021-02-25 21:19] anarcat commented on #503
i would love to have that as well, i'd use it to share presets between my tablet and my phone, for example...

[2021-02-26 02:04] ashutoshgngwr commented on #537
Will try to fix it. Meanwhile, to bring the button back, stop the playback. It should come back up when no sounds are playing.

[2021-02-26 02:08] anarcat commented on #537
thanks for the tip!

[2021-02-26 13:10] daetoCh0 opened #539 "Cast Integration (Chromecast) plays to one device in a Speaker Group pair"
I have two Nest Minis in a speaker group. Noice's Cast feature only plays audio to one speaker in the group.

I'm filing as a bug because it looks like the project's MP3 assets are stereo-encoded, so it seems like this could be an issue with the Cast sender integration. Speaker groups are documented at the Google support link below:

https://support.google.com/googlenest/answer/7559493?co=GENIE.Pl

[2021-02-26 13:16] ashutoshgngwr commented on #539
This is most likely an issue on our side. I'll need to spend some time to investigate it further for certainty.

[2021-02-26 13:27] ashutoshgngwr commented on #539
@daetoCh0 Sorry, but this is unlikely to get fixed. Google Developers portal is missing [documentation on Speaker Groups](https://developers.google.com/s/results/android?hl=en&q=speaker%20groups) altogether. In fact, it doesn't even mention such a thing.

Another person reported this very same issue (See #283), and they luckily found a workaround that worked for them.

[2021-02-26 13:56] daetoCh0 commented on #539
Thanks, @ashutoshgngwr. I'm looking thru the commits and it looks like some of your inspiration came from the AntennaPod project. I can give their app a try and see if the Speaker Group works.

In the other issue (#283) you asked:

I can confirm that Noice will consistently cast to the primary device, which is the device that initiated the group.

[2021-02-26 14:05] ashutoshgngwr commented on #539
@daetoCh0 While I remember mentions of the AntennaPod, Noice's implementation is uninfluenced by it. But sure, if AntennaPod works fluently, that will definitely give us a few clues about our shortcomings.

[2021-02-26 14:10] daetoCh0 commented on #539
OK, I'll check it out. Meanwhile, I'm pretty sure that the API calls this "multizone" or "multi-zone" rather than "speaker group."

https://developers.google.com/android/reference/com/google/android/gms/cast/CastDevice#CAPABILITY_MULTIZONE_GROUP

https://github.com/home-assistant/core/issues/39769

[2021-02-26 14:21] ashutoshgngwr commented on #539
@daetoCh0 Nothing on Stackoverflow and nothing in the documentation. Please do let me know if you find anything else.

[2021-02-26 15:26] yashashebbarabailu commented on #534
I get it. I will try to choose some specific sounds from that.

[2021-03-03 07:30] Watson15683 commented on #503
I would also appreciate to have a import/export feature. For my needs it would be enough to just be able to have some button to save the presets to a file, and a button to import that file again. So i can store and save my Presets in my Nextcloud.

### Optional
It would also be nice if the save file would be auto-updated every time i create a new preset.
(always with a new current date for the fil

[2021-03-03 11:51] Watson15683 opened #542 "associate a dedicated Timer with a Preset"
### Is your feature request related to a problem? Please describe.
Every night when i go to bed i listen to my Preset "Rain" for "45min". And every night i have to manually set the Timer.

### Describe the solution you'd like
It would be nice if it would be possible to associate a specific Timer with a Preset. Because i think that many People who use the Timer Function, often use the same Timer wi

[2021-03-04 06:19] robercoding commented on #504
Hey @ashutoshgngwr! It has been a while since you assigned me this task and I started working on it 3-4 days ago, I implemented a solution for this feature and it's working perfectly! but **when trying to add some Instrumented Test Cases** on `WakeUpTimerFragmentTest` there's an error that looks like it was there before I started and I tried to solve it with no luck.

The error I found is related

[2021-03-04 08:10] ashutoshgngwr commented on #504
Hey @robercoding! I forgot that I had assigned you this issue. Last Sunday, I did some refactoring to make room for new features. It's likely that your changes will be undone during the implementation of the new features.

The good news is that I don't know how the roadmap looks. In the meantime, can you open up a draft pull request against [`idk-what-i-am-doing`](https://github.com/ashutoshgngwr/

[2021-03-04 09:19] robercoding commented on #504
Hi @ashutoshgngwr!
Sure I'll open a DF pull request now to that new branch, it tells me that is able to merge so that's good, and for the test case I haven't implemented it yet since I spent time trying to understand what's going on with that error before moving on.

Anyways I for sure would like to keep contributing and gaining more experience so if you see a task for me or you want help just tel

[2021-03-09 15:41] ashutoshgngwr commented on #536
This isn't fixed. After https://github.com/ashutoshgngwr/noice/commit/f39fe3525ad2b4fe904adddbaba0b7c15c5548b8, adding new launcher shortcuts throw null pointer exceptions.

[code]

[2021-03-09 16:52] #536 closed

[2021-03-10 11:26] robercoding commented on #502
Do you mind if try to implement this solution? I'll add a UI test also 😄

[2021-03-10 11:29] ashutoshgngwr commented on #502
@robercoding Sure, go ahead!

[2021-03-11 09:39] #502 closed

[2021-03-11 09:52] ashutoshgngwr commented on #504
Fixed in #543

[2021-03-11 09:52] #504 closed

[2021-03-12 07:03] robercoding commented on #505
Hey @ashutoshgngwr, I'd like to solve this issue :)!

[2021-03-12 12:43] Watson15683 opened #556 ""On-Screen-Menu- Buttons" do not react to Android Dark Mode"
### Is your feature request related to a problem? Please describe.
The "On-Screen-Menu" does not react to dark mode. After having activated dark mode the "On-Screen-Menu" stays white.

This is how the noice-App it looks like with Dark Mode activated:
![grafik](https://user-images.githubusercontent.com/79628154/110940692-94ee0980-8337-11eb-8bae-5545770ce52c.png)

This is how i think it is supposed

[2021-03-13 08:08] #505 closed

[2021-03-13 08:17] ashutoshgngwr commented on #556
Likely happening due to the dark action bar feature. Earlier, the navigation bar used to translucent, but that had to change in light of #484. Now I am thinking of removing the dark action bar feature altogether, and making it a light action bar with the light theme variant and dark action bar with the dark theme variant.

[2021-03-13 08:19] ashutoshgngwr commented on #542
Rather than making the presets more complicated, we can instead add the required functionality to manage multiple sleep timers and each sleep timer can correspond to a preset.

[2021-03-13 08:42] robercoding commented on #537
Hey @ashutoshgngwr I want to try to fix this if you are not working on it, and also talk about the best solution for UX!

Somehow I feel like this random mode should be always available so we could make fab button have to open 2 fab buttons to the top when is in random mode is active, giving user the two options.
Or just 2 fab buttons, so save preset option only appears when sound is playing.

Let

[2021-03-13 08:47] ashutoshgngwr commented on #537
Hey @robercoding,

I was thinking of moving the random preset option to the navigation menu on the left.

I wanted it to do it this way because I was also planning to add an option that would allow users to automatically change random presets at whatever interval they decide, e.g. change random preset every 15 minutes or so. We can probably add it later. For now, just move the option from FAB to n

[2021-03-13 09:13] Watson15683 commented on #542
This seems like a very good idea, although i do not exactly understand what you mean.

The key "feature" for me would be to just be able to open the app via a "Android-Luncher-Shortcut" then
1. The Preset starts playing
2. And the dedicated timer starts playing
with no additional user input required.

How i can access this functionality within the app is actually not that important to me, because

[2021-03-13 09:46] ashutoshgngwr commented on #542
We'll add something so that timers can have their own shortcuts.

[2021-03-14 20:28] Watson15683 commented on #542
That would be awsome ^_^

[2021-03-15 03:17] #537 closed

[2021-03-23 07:46] yashashebbarabailu commented on #534
[Abandoned Courtyard Ambience! Leaking Water Pipe & Church Bells](https://freetousesounds.bandcamp.com/album/abandoned-courtyard-ambience-leaking-water-pipe-church-bells)

[Underwater Ambience! The Hidden Sounds](https://freetousesounds.bandcamp.com/album/underwater-ambience-the-hidden-sounds)

[Pumpjack Pumping Sound Effects! California, USA](https://freetousesounds.bandcamp.com/track/pumpjack-pu

[2021-04-01 09:48] boffyb opened #578 "Play at the same time as other audio (Ignore Audio Focus)"
### Is your feature request related to a problem? Please describe.
A lot of Bluetooth headphones mute the audio when it dips below a certain level. I don't know if this is a crude form of noise suppression or a way to save power.

They generally don't have a way to turn this feature off.

When listening to an audiobook, podcast, or other spoken word content, this can clip off the beginnings and en

[2021-04-02 10:14] VasilisKos commented on #200
Just started Greek translation. Probably will complete it today. 😉

[2021-04-02 10:18] VasilisKos opened #579 "Add dynamic app shortcuts for Presets"
1. Add the option to locally backup presets.
2. Add app icon shortcuts of the presets, for instant playing.

[2021-04-03 06:42] ashutoshgngwr commented on #200
@VasilisKos I am away for a while. Will probably review next week. Thank you for your contributions.

[2021-04-03 06:44] VasilisKos commented on #200
No problem. Take care!

[2021-04-11 06:00] ashutoshgngwr commented on #579
@VasilisKos

Will do it later.

It already exists. Go to the preset list, click on the drop-down button, and select "Add to home screen". Please let me know if it is what you were looking for.

[2021-04-11 06:06] VasilisKos commented on #579
No. I'm talking about the app icon shortcuts. The ones that appear when you long tap the app icon.

[2021-04-11 06:08] ashutoshgngwr commented on #579
@VasilisKos Alright I will look into that as well.

[2021-04-11 06:21] ashutoshgngwr commented on #578
It is partially implemented. Start your audiobook app first and then Noice. Noice requests that other apps duck their volume when it plays, so other apps, in general, should lower their volume, but continue to play. Let me know if it resolves your issue.

Also, ignoring audio focus entirely breaks the best practices suggested by the Android Framework. I am personally against it. Perhaps something

[2021-04-13 17:18] franciscot commented on #200
I'm working with spanish too.

[2021-04-13 17:28] franciscot commented on #503
@ashutoshgngwr: Can you save the XML presets file in /storage/Anddriod/data/ for example?  I could backup my presets or move/copy to another device.

[2021-04-13 17:31] ashutoshgngwr commented on #503
Seems unnecessary. The requested feature is more liberal – accessible to people without technical backgrounds. Will build integrations to import/export presets from the application itself.

[2021-04-16 18:05] VasilisKos opened #593 "Play saved mix button bug"
### Description
After starting a saved mix, stopping it from the notification doesn't turn the "stop" button icon on the left side of the saved mix to the "play" icon button, as it should. Going to another tab and back to the saved mixes list, fixes the button icon.

Steps to reproduce the behavior:
1. Go to the saved mixes tab.
2. Click on the "play" button of any mix.
3. Tap the "stop" on the ap

[2021-04-16 18:14] VasilisKos opened #594 ""Stop" button of saved mixes bug"
### Description
After starting a saved mix playback, you have to tap twice the stop button to stop playback.

Steps to reproduce the behavior:
1. Go to the saved mixes list.
2. Tap the play button of a saved mix.
3. Tap the stop button of the mix to stop it. It doesn't stop.
4. Tap it again and it does.

### Others
- Device: Nokia 6.2
- Android Version: 10
- App Version: 0.16.0 (Google Play)

[2021-04-17 09:06] VasilisKos commented on #200
How about adding in the credits of the app the translators too? That would be a least acknowledgment to their effort and contribution. ;)

[2021-04-17 09:12] VasilisKos commented on #534
I agree that the app should not be overbloated with useless sounds, like not natural ones.

[2021-04-17 10:04] ashutoshgngwr commented on #200
@VasilisKos

It was there but I had to remove it because the list became too burdensome to maintain. See https://github.com/ashutoshgngwr/noice/commit/cd43a454694fa7da3baa542b8dc88b551c8bcf21

Now, the copyright mentions "the Noice Authors" instead of my name and there's another item below it to view the full list of the Noice Authors that points to the [GitHub contributors graph](https://github.c

[2021-04-19 21:19] mizzunet opened #596 "UI: Images for sounds"
### Is your feature request related to a problem? Please describe.

Not at all
### Describe the solution you'd like

It's a UI suggestion, not necessarily needed but would be so great looking. That is, images for sounds like this Windows program does, Ambie, https://github.com/jenius-apps/ambie
![image](https://user-images.githubusercontent.com/10193999/115304798-02852500-a183-11eb-9a98-bce028da10

[2021-04-19 22:31] PanderMusubi commented on #596
When there is an option to show images, please keep also the possibility to show the current GUI without images.

[2021-04-19 22:42] PanderMusubi commented on #534
Softly and rhythmically crashing of waves is missing in this app. One for waves at sea and one for waves in the surf on the beach. I used these from other apps in the past a lot and those where the best to fall asleep with, for me at least.

The current seaside sound in this app is more of a washing, splashing, dripping nature and therefore less relaxing and more motivating to have a pee.

If the

[2021-04-20 03:06] trymeouteh opened #598 "Desktop App"
Please consider making a desktop version of this app which can be minimised to the tray for Windows, Mac and Linux.

[2021-04-20 03:54] ashutoshgngwr commented on #596
tl;dr No images. Period.

The images do add some visual flair and improve UX significantly, but let's just say I am too lazy to put in the work in something that won't improve Noice's function. If someone can procure royalty-free images for all sounds, I can put in the effort to customize the current UI to be more visually pleasing. One more consideration is using vector graphics since Android dev

[2021-04-20 03:55] ashutoshgngwr commented on #534
Please do. Perhaps the BBC sound effects have something? See #361.

[2021-04-20 03:57] ashutoshgngwr commented on #598
@trymeouteh This is a native Android app and would need a complete rewrite using different technologies to be able to do that. I am closing this as this is out of scope here.

[2021-04-20 03:57] #598 closed

[2021-04-20 06:57] mizzunet commented on #596
I understand😁

[2021-04-20 11:27] #593 closed

[2021-04-20 11:27] #594 closed

[2021-04-20 20:19] Watson15683 opened #600 "Rain Sound has a squeaking Noise"
### Description
The "Middle Rain" Monsun-Sound (not the strong one and not the weak one, the one in thr Middle) , has a very annoying squeaking Noise after 5 seconds, when started. Then it repeats itself roundabut every 12 sec.

It is quite subtle, but now i hear it and it drives me crazy xD

### Solution
Maybe find another Preset, or even remove it, because it is not a "pure" or "clean" sound. Bu

[2021-04-20 20:46] Watson15683 commented on #596
I also would like that Image support. But i also totally understand that it is a lot of effort, that does not add any value appart form the visual aspect.

But i just want to add that maybe Images could make the frist impression of the app much better, which i think matters to convinve "First Time users" to come back to the app.

And in case someboy would produce Vector Graphics, which **ratios**

[2021-04-21 10:46] #556 closed

[2021-04-21 12:25] ashutoshgngwr commented on #596
Hi @Watson15683, I was experimenting with the layout and I think I am onto something. After your response, my intention was to quickly setup a dirty prototype so everyone has an exact idea about it. It's gonna take sometime for me to setup the full thing, and I'll let you know as soon as I do.

[2021-04-22 07:18] ashutoshgngwr commented on #596
Hey everyone! I have finished restructuring the UI to accommodate app icons. Please see pull request #601. I have written there all necessary instructions to add more icons.

[2021-04-22 11:28] #600 closed

[2021-04-22 13:01] #579 closed

[2021-04-23 11:12] ashutoshgngwr commented on #578
Duplicate of #462

[2021-04-23 11:12] #578 closed

[2021-04-23 17:43] Lurux opened #602 "Group options into a dedicated settings page to clean up menus"
### Is your feature request related to a problem? Please describe.
It's not really a problem, but I think it might help the UI feel a bit more streamlined.

### Describe the solution you'd like
I think the various options spread out across different screens could be consolidated into a dedicated settings page, containing:

- Theme
- Page shown at startup
- Wakeup timer options

![settings](https:/

[2021-04-23 17:52] ashutoshgngwr commented on #602
Coincidence? I think not! :laughing:

![2021-04-23_23-20](https://user-images.githubusercontent.com/7106123/115910603-a70cad00-a48a-11eb-9e81-12c3c8bcdecb.png)

[2021-04-23 19:30] Lurux commented on #602
Wow, nice ! Has the update been released yet ? (I'm using the f-droid version, so I assume it may take a little longer to reach me).

Will this include a decluttered menu too, as my second image suggests ?

[2021-04-24 01:42] ashutoshgngwr commented on #602
@Lurux Nope, it's still in works.

Maybe. Will work on the menu. Won't be exactly as you suggested.

[2021-04-24 09:04] Lurux commented on #602
Ok, thanks !

[2021-04-25 05:54] blackandyellowgecko commented on #523
Ops, sorry, I forgot to update this. I'm using 0.16.0 and it's louder. Thanks o/

[2021-04-25 05:56] ghost opened #604 "Brown noise has a slight repetitive lowering of volume"
### Description
The brown noise keeps lowering the volume in a very repetitive way, the volume is not constant.

### To Reproduce
1. Play (only) Brown noise with a loud volume or in a very silent room.

### Others
- Device: Galaxy A50
- Android Version: 11
- App Version: 0.16.0 F-Droid

[2021-04-25 06:07] ghost opened #605 "Enhancement: the rain sounds are too shrill/crispy. Add a soft versions of the rain sounds"
### Description
The rain sounds are too crispy and this can be stressful instead of relaxing. I believe that this crispness is because the rain is falling into impermeable surfaces like concrete. The sound of rain that falls into earth or plants is softer.

The current rain sounds worse my tinnitus, so this might happen with other people that have this condition, but I can speak for everyone.

###

[2021-04-25 06:51] ashutoshgngwr commented on #605
@blackandyellowgecko I have changed rain sound samples so many times that I am honestly tired of it. xD If you want something better, please find it on BBC Sound effects (see #361) or [FreeSound](https://freesound.org) and tell me. I'll see if I can replace the current samples with it.

[2021-04-25 06:51] ashutoshgngwr commented on #523
Can I close this issue then? @blackandyellowgecko

[2021-04-25 06:57] #602 closed

[2021-04-25 19:38] sudomain opened #606 "Launcher supports shortcuts but app errors with "Your default launcher does not support adding shortcuts""
### Description

My launcher supports shortcuts but Noice  gives the error `Your default launcher does not support adding shortcuts`. The launcher in question is [Rootless Pixel Launcher](https://f-droid.org/packages/amirz.rootless.nexuslauncher) which supports Android  shortcuts and widgets.
### To Reproduce

1. Use Rootless Pixel Launcher
2. in Noise, go to saved presets and try to add a shortcu

[2021-04-25 19:55] sudomain opened #607 "Feature request: respond to KEYCODE_MEDIA* media buttons"
### Is your feature request related to a problem? Please describe.

Please have the app respond to media buttons such as
`KEYCODE_MEDIA_STOP`, `KEYCODE_MEDIA_PLAY`, and `KEYCODE_MEDIA_PLAY_PAUSE` so that sounds can be affected by hardware media buttons.
https://developer.android.com/guide/topics/media-apps/mediabuttons

### Describe the solution you'd like

Play, pause, stop, and play/pause toggle

[2021-04-26 04:45] ashutoshgngwr commented on #606
Are you able to create app shortcuts using other apps? I tried to reproduce it, but unfortunately, I couldn't.

https://user-images.githubusercontent.com/7106123/116029904-f6fc9700-a677-11eb-84b0-43e0c541802a.mp4

[2021-04-26 04:53] ashutoshgngwr commented on #607
And you'd think that media session callback will handle that for you. I am really starting to hate how Android is turning out to be lately.

[2021-04-26 09:32] sudomain commented on #606
Yup. There are shortcuts and widgets that can be added by long-pressing a blank area on the home screen. Termux is an app that had one of each. There's also shortcuts that can only be added from within the app which it seems is the kind Noice uses. Firefox has one of these (hamburger menu > add to homescreen) which also works with this launcher.

[2021-04-26 09:44] ashutoshgngwr commented on #606
Can you examine the installed APK on your device and see if it has `com.android.launcher.permission.INSTALL_SHORTCUT` permission? Noice uses Jetpack compact API to create shortcuts. Other than missing permission, I can't see any reasons why it shouldn't be able to add shortcuts.

[2021-04-26 09:53] sudomain commented on #606
Yup, that perm isn't listed.

[2021-04-26 13:27] #606 closed

[2021-04-27 13:55] #607 closed

[2021-04-27 14:00] sudomain commented on #607
Thank you for the quick response on this and the other issue. What is your opinion on KEYCODE_MEDIA_NEXT and KEYCODE_MEDIA_PREVIOUS to cycle through the saved presets?

[2021-04-27 14:15] ashutoshgngwr commented on #607
@sudomain I'll be working on that among other things. I was going to add media player style notifications, but that requires some code restructuring before implementation. These media buttons should be partially implemented during the notification implementation. Nevertheless, it'll all be available in the next release.

[2021-04-28 11:24] nsmirosh commented on #503
@ashutoshgngwr Is this feature request closed? Would love to help out on this feature :)

[2021-04-28 11:44] ashutoshgngwr commented on #503
@nsmirosh No, this is still open. I am in the middle of refactoring the media playback service, so if you stay clear of that portion, it shouldn't be an issue. :+1:

---
A few implementation details to consider:

- I was thinking of adding a _Preset_ category to the settings fragment for the import/export options.
- I was thinking of making the IO format a JSON object with the preference key and p

[2021-04-28 12:33] nsmirosh commented on #503
@ashutoshgngwr Sure, I'm new to the repo, so I'll make sure to review everything and discuss before I start with an implementation.

[2021-04-30 06:28] blackandyellowgecko commented on #605
okay! I'll do this o/

[2021-04-30 06:30] blackandyellowgecko opened #621 "Put a volume slider in the saved presets screen"
### Is your feature request related to a problem? Please describe.
Currently, there's no volume slider in the saved presets screen:
![Screenshot_20210430-033146](https://user-images.githubusercontent.com/78433932/116657345-9fef0e80-a964-11eb-8193-3df7eef4fe3d.png)

### Describe the solution you'd like
Add a volume slider for each item in the saved presets screen.

[2021-04-30 06:32] ashutoshgngwr commented on #621
Does your device not have volume buttons?

[2021-04-30 06:35] blackandyellowgecko commented on #621
In the library screen, there's a volume slider for each item, maybe the saved screen presets could have it

[2021-04-30 06:38] ashutoshgngwr commented on #621
@blackandyellowgecko At any given time, only one preset can play. The slider would be doing exactly what volume buttons do, which is not the case with sounds in the library.

[2021-04-30 12:58] jfitie opened #622 "Start looping sounds at random offset"
### Is your feature request related to a problem? Please describe.
1) Starting a looping sound always starts it at the beginning of the file, making it sound repetitive. Reproduce by stopping/starting a looping sound multiple times; f.ex. Coffee shop.
2) The same is true for non-looping sounds, especially in presets, they all start at the beginning and at the same time when starting the preset.

#

[2021-05-01 18:56] #462 closed

[2021-05-02 01:11] #596 closed

[2021-05-02 01:13] ashutoshgngwr commented on #621
I am closing this. It doesn't make any sense. Please let me know if you think otherwise.

[2021-05-02 01:13] #621 closed

[2021-05-03 15:41] #503 closed

[2021-05-03 15:50] ashutoshgngwr commented on #503
@nsmirosh I am preparing for the next release and I decided to closed this ticket. Please feel free to pick up anything else.

[2021-05-04 05:22] #523 closed

[2021-05-05 03:48] ghost opened #629 "recurring wake-up timer/alarm"
### Ist est related to a problem? Please describe.
I'd like to use noice as an alarm, because nature sounds are the only ones that don't force to wake me up all moody, and being able to set up custom mix of sounds is awesome. Current wake up timer is a one time thing, or at least that seems to be the case, and I'm not fool-proof, so I might forget one day to set the alarm.

### Describe the soluti

[2021-05-05 04:52] ashutoshgngwr commented on #629
Hey @maguilara The current wake-up timer was a pilot feature. I am planning to make it a full-fledged alarm clock, but I am not sure about the timeline.

[2021-05-06 21:04] VasilisKos opened #637 "App presets shortcuts icons"
### Description
Only one of the created app presets shortcuts has the proper icon.

### To Reproduce
1. Add a preset to app shortcuts. The shortcut has the proper "play" icon.
2. Add other presets. They have the generic Android icon.

### Screenshots
![Screenshot_20210506-234035](https://user-images.githubusercontent.com/12777771/117365180-949d6500-aec7-11eb-851f-a50008ec521a.png)

### Others
- De

[2021-05-07 04:48] ashutoshgngwr commented on #637
It is either an upstream bug or a limitation. I tested different things extensively while implementing this, and it seems like the Android API doesn't allow using the same icon for multiple app shortcuts. There is no documentation about this, so we can't really be sure.

https://github.com/ashutoshgngwr/noice/blob/2d5b682fb87b549f71b0e7efd19a35e188fbde0c/app/src/main/java/com/github/ashutoshgngwr/

[2021-05-07 07:43] VasilisKos commented on #637
Looks like you're right, as almost all of my apps shortcuts use different icons, EXCEPT Solid Explorer. It has the same folder icon for all bookmarked folders. So, I guess there's a workaround and probably no API limitation.

![Screenshot_20210507-104321](https://user-images.githubusercontent.com/12777771/117415527-17064300-af21-11eb-9bee-a38e3f169a85.png)

[2021-05-07 07:54] ashutoshgngwr commented on #637
@VasilisKos Will try to find the workaround.

[2021-05-07 19:57] Watson15683 opened #638 "text overflow issue in list of sounds"
### Description
For the German taranslations the text sometimes clips into the Images (like shown in the image below). It looks a bit weird. IMO the text cannot be rephrased (English ==> German) into a shorter format, without loss of information. So some kind of line break seems appropriate.

### Screenshots
![Screenshot_20210507-214154_Noice](https://user-images.githubusercontent.com/79628154/117

[2021-05-07 20:46] maguilara commented on #629
Good to know you have thought about, it has so much potential. Thanks for the app!

[2021-05-08 03:34] ashutoshgngwr commented on #638
That's by design. The images are supposed to be in background.

[2021-05-08 09:18] Watson15683 commented on #638
Ok, i can see how that could work :-)
I think that the overlap does affect the "readability" of the Text and the Image negatively, due to the lower contrast and the overlapping of the two different geometries.
And for German translations there is **only one** Sound that has this overlap, which makes this sound stick out in a odd way. And so it may not seem intentional at least for German app users

[2021-05-08 13:54] ashutoshgngwr commented on #638
There's no magic method available to add a line break when the text overlaps the darl background. It either wraps around the image (rectangle) or hovers over it. I certainly am not going to put effort in coming up with a solution for this.

Maybe we can further dim down the icons or something.

[2021-05-08 15:34] Watson15683 commented on #638
Am sorry i have absolutely no clue about what is possible and what isn't.
I made the two examples with the rectangle model and a think they both look very nice. So in Conclusion IMO the Rectangle Model would be a good improvement of the UI.

![Screenshot_20210508-172136_Noice](https://user-images.githubusercontent.com/79628154/117544603-87e15400-b022-11eb-81bc-3b4959dd6493.jpg)
![Screenshot_202105

[2021-05-08 18:12] yashashebbarabailu opened #639 "A way to filter sounds"
It will be easy to choose sounds if I can filter them.

**Filters by**
- Category ex. life,...
- Mood ex. relax,...
- Intensity ex. light,...
- Current state ex. playing,...

**Current state**
Filter list based on sounds playing state. Rather than scrolling through out the list and modifying sounds, It is easy to filter only playing sounds and modify them.

I made a [figma prototype](https://www.f

[2021-05-08 19:01] ashutoshgngwr commented on #639
The intensity only has a meaning when generating random presets. It indicates the number of sounds to use. All the other filters look good. UI as well. The menu item (button placement might be a trouble because there's a play-pause toggle and cast icon that also goes there. As it also happens, the title bar is owned by the parent of the library component. We need to find a different placement for

[2021-05-09 10:21] #638 closed

[2021-05-13 04:16] ashutoshgngwr commented on #637
[I give up!](https://stackoverflow.com/questions/67434914/icon-is-not-visible-when-used-with-two-or-more-dynamic-shortcuts-simultaneously)

[2021-05-13 07:16] stemy2 opened #650 "Frequency setting does nothing"
### Description
No matter how much time i set to the frequency setting, the concerned sound doesn't repeat at all.

### To Reproduce
Steps to reproduce the behavior:
1. Set the frequecy setting to a random number
2. The concerned sound doesn't repeat at the expected rate (actually doesn't repeat at all).

### Screenshots

### Others
- Device: Samsung Galaxy S7
- Android Version: 8.1
- App Version:

[2021-05-13 08:32] ashutoshgngwr commented on #650
Unable to reproduce. I did the following

1. Play howling wolf
2. Set repeat interval to 1 min.
3. Sound repeats at a random interval in range 0-60 seconds.

Are you able to play multiple looping sounds without any issues? It might be possible that the device is running out of memory.

[2021-05-13 08:37] stemy2 commented on #650
I did almost the same

1.     Play howling wolf
2.     Set repeat interval to 30 sec.
3.     Waited 30 second without hearing the sound again

I can hear multiple loop sound and my phone is not out of memory.

[2021-05-13 09:30] sudomain commented on #606
I got the update from FDroid and now shortcuts show up on the homescreen. When I try to play one of these shortcuts though it gives me a toast saying "App isn't installed". This may be an issue with this launcher though

[2021-05-13 09:42] ashutoshgngwr commented on #650
I am not able to reproduce this on Xiaomi Mi A3 (Android 11) and Emulator (Android 9). Please try to reproduce the issue on a different device.

[2021-05-13 09:57] ashutoshgngwr opened #651 "'App isn't installed' error on playing a preset using home screen shortcuts"
I got the update from FDroid and now shortcuts show up on the homescreen. When I try to play one of these shortcuts though it gives me a toast saying "App isn't installed". This may be an issue with this launcher though

_Originally posted by @sudomain in https://github.com/ashutoshgngwr/noice/issues/606#issuecomment-840439108_

[2021-05-13 09:58] ashutoshgngwr commented on #651
@sudomain I am able to reproduce on an emulator device (Android 5.1). Will fix it ASAP.

[2021-05-13 10:14] #651 closed

[2021-05-13 14:21] sudomain commented on #651
Thanks!

[2021-05-21 02:08] swedneck opened #660 "Finer volume control"
The current volume sliders don't give a lot of control, there are a low number of steps and a simple percentage isn't great for adjusting low volumes.

It would be nice to increase the amount of steps and give an option for logarithmic sliders to give more fine grained control over volume.

[2021-06-02 15:30] #539 closed

[2021-06-03 09:33] ashutoshgngwr commented on #650
Feel free to re-open this issue if anything changes.

[2021-06-03 09:33] #650 closed

[2021-06-07 13:58] ashutoshgngwr commented on #660
I did some math. The current system maps volume levels [0, 20] to [0, 1] linearly. I scaled the current system to [0, 25] ([1, 25] in logarithmic case) and plotted its mapping to [0, 1] using logarithmic, quadratic and cubic functions. Shouldn't the control be a quadratic or cubic function instead of logarithmic? Because according to my experience with the current version of Noice, the sound volum

[2021-06-07 22:21] swedneck commented on #660
i just said logarthimic because i know that's closer to what i want than linear is, i don't know what the actual best solution is :D

[2021-06-08 02:58] ashutoshgngwr commented on #660
@swedneck Okay, I just wanted to confirm. I'll try them all and see which one performs the best.

[2021-06-08 05:30] #660 closed

[2021-06-22 15:25] yashashebbarabailu commented on #605
Can we add audio effect chain? High cut eq filter should work in this case. This may be overdoing it. But will be helpful to customize sound as needed without changing the sample.

Found repos that maybe helpful
- [gregnr/AudioEffects](https://github.com/gregnr/AudioEffects)
- [xeinebiu/android_audioeffects](https://github.com/xeinebiu/android_audioeffects)

[2021-06-26 06:54] Long-FA opened #683 "Noice plays multiple random sounds when pressing "Previous/Next track""
### Description
On newer versions of Android, when using Noice or any music playing app, a sticky notification will appear on Quick Settings, allow you to return to previous track, play/pause or move to next track with the help of three buttons :previous_track_button:  :play_or_pause_button: :next_track_button: . When pressing either Previous Track or Next track, Noice will play multiple random so

[2021-06-26 14:28] ashutoshgngwr commented on #683
@Long-FA It is intended behaviour. When a saved preset is playing, these buttons loop through all saved presets. When an unsaved preset is playing, these buttons generate random mixes on the fly.

An alternative could be to add a setting to disable it for unsaved presets. Would that work?

[2021-06-27 19:26] Long-FA commented on #683
Thank you, that would be helpful. I use Noice to help falling into sleep, and it is very problematic when i accidentally press Previous/Next track on my IEM and have a seagull screamed into my ears.

-------- Original Message --------
On Jun 26, 2021, 21:28, Ashutosh Gangwar wrote:

[2021-07-08 22:52] markwmuller opened #720 "Add some pre-defined presets"
### Is your feature request related to a problem? Please describe.
No
### Describe the solution you'd like
For a firs-time user, it'd be nice if there were some examples of "good" presets that one can just use (my use case -- baby crying incessantly, I search for "noise" on f-droid, find "Noice", and just want to launch into some noise). Of course, it's not super hard to make something reasonable,

[2021-07-10 10:58] ashutoshgngwr commented on #639
I was wrong about it! Fragments can inflate menus to an activity owned toolbar.

https://developer.android.com/guide/fragments/appbar

[2021-07-12 08:12] ashutoshgngwr commented on #720
This had been discussed before, but the discussion eventually died due to a lack of enthusiasm. I shouldn't be the only person to come up with this list of presets. It leaves the list prone to being too similar. If you could suggest a few, that'd be great.

Or perhaps there should be some sort of popularity vote. I am integrating analytics into Play Store build for Noice. I shall soon have enough

[2021-07-12 17:17] #683 closed

[2021-07-13 19:55] markwmuller commented on #720
I'm happy to share what I made, a thunderstorm -- It's very simple, just heavy rain, plus the thunder, all at 100% volume with somewhat arbitrary repeat time periods.

https://ashutoshgngwr.github.io/noice/preset?name=Thunderstorm%20&playerStates=%5B%7B%22soundKey%22%3A%22distant_thunder%22%2C%22timePeriod%22%3A219%2C%22volume%22%3A20%7D%2C%7B%22soundKey%22%3A%22heavy_rain%22%2C%22timePeriod%22%3A

[2021-07-16 06:30] User1l0 opened #723 "Add cicada noises"

[2021-07-16 07:49] ashutoshgngwr commented on #723
@User1l0 "Night" sound already has it.

[2021-07-16 07:55] d4f5409d opened #724 "Analytics"
Why does a sound player app need analytics? May I ask? It would be better to remove it. Don't be like Audacity.

[2021-07-16 08:41] ashutoshgngwr commented on #724
Thanks for your concern, but it's an opt-in feature. Feel free to opt-out.

[2021-07-16 08:41] #724 closed

[2021-07-21 17:01] harshad1 opened #727 "Add search / filter for sound types"
Noice now has enough sound types that finding the one I want takes longer than I'd like.

It would be nice to have a search / filter (ideally, as you type) box at the top of the screen

[2021-07-21 17:05] ashutoshgngwr commented on #727
Duplicate #639

[2021-07-21 17:05] #727 closed

[2021-07-23 12:56] opk12 opened #728 "Question about the analytics"
### Description
Does the f-droid build do data collection by default, or without prior explicit user consent? If so, it should be marked with [the Tracking antifeature](https://f-droid.org/docs/Anti-Features/#Tracking) which it currently does not have

[2021-07-23 13:15] ashutoshgngwr commented on #728
@opk12 F-Droid build doesn't have analytics. Only the Play Store build has the capability to collect analytics data.

[2021-07-24 05:05] #728 closed

[2021-07-26 17:20] eMPee584 commented on #720
Here's a beach one:
https://ashutoshgngwr.github.io/noice/preset?name=%F0%9F%8F%9D%EF%B8%8F&playerStates=%5B%7B%22soundKey%22%3A%22crickets%22%2C%22timePeriod%22%3A300%2C%22volume%22%3A4%7D%2C%7B%22soundKey%22%3A%22screeching_seagulls%22%2C%22timePeriod%22%3A300%2C%22volume%22%3A4%7D%2C%7B%22soundKey%22%3A%22seaside%22%2C%22timePeriod%22%3A300%2C%22volume%22%3A13%7D%2C%7B%22soundKey%22%3A%22wind_i

[2021-07-31 14:29] rancidfrog opened #732 "Fdroid still suffers from build queue delays"
On fdroid: "_Version 1.0.2 (43) suggested Added on 2021-07-26_ "
Having APKs on release section would be great.
Reproducible builds, which supposedly solves signing issues

[2021-07-31 15:49] ashutoshgngwr commented on #732
Signing issues will persist because I have opted in for Google Play App signing and F-Droid does their own thing. But, I'll try to add APK release artifacts in the GitHub actions workflow.

[2021-07-31 17:11] #732 closed

[2021-07-31 17:12] ashutoshgngwr commented on #732
It's done. If everything works as expected, APKs should appear in the latest release once the Android workflow passes. https://github.com/ashutoshgngwr/noice/actions/runs/1085515170

[2021-07-31 21:42] rancidfrog commented on #732
Thank you,
That was quick.

[2021-08-11 07:26] NSTAdventure commented on #728
Bruh 🗿

[2021-08-11 07:29] NSTAdventure opened #751 "Animation"
### Is your feature request related to a problem? Please describe.
No animation :( not too relaxing

### Describe the solution you'd like

Add animation when playing sound especially using preset

[2021-08-11 08:12] ashutoshgngwr commented on #751
The purpose of Noice is to provide a constant background noise while you do something else (besides staring at the UI of Noice). Thus, this feature is unnecessary. Perhaps I am wrong since the description is too vague.

[2021-08-11 21:12] NSTAdventure commented on #751
Yeah i also have English grammar issues wait 🗿🤦

[2021-08-12 09:49] ashutoshgngwr commented on #751
Yeah, you get it.

[2021-08-12 09:49] #751 closed

[2021-08-12 09:50] ashutoshgngwr commented on #751
Yeah, you get it. ¯\\\_(ツ)\_/¯

[2021-08-13 02:13] NSTAdventure commented on #751
Finally bro pls check again and consider to re open my issues thanks 🙏😊

[2021-08-13 07:44] NSTAdventure opened #753 "(optional)animation for icon inside a app"
### Is your feature request related to a problem? Please describe.
It would be boring if those nice icon doesn't have animation

### Describe the solution you'd like

Add animation on icon when sound played (also add toggle on setting which mean users can turn this feature on off)

[2021-08-13 09:34] ashutoshgngwr commented on #753
I will repeat myself. The purpose of Noice is to provide constant background noise while you do something else (besides staring at its UI). Thus, your point about things being boring without animations is invalid. Surely animations add a visual flair, but the needed development effort is quite significant when compared to the overall added value.

A brief consideration of available options makes i

[2021-08-13 14:52] NSTAdventure commented on #753
Yeah maybe like that tho imo it could be nice if those icon have some kind of animation :(

#it'sMeMario

[2021-08-13 16:21] ashutoshgngwr commented on #753
The issue is open. If someone else wants to do it, it's up for grabs.

[2021-08-14 22:25] lanmarc77 commented on #629
May I add the following idea/feature which fits to this topic.
A two staged timer/alarm.

Stage two works like the alarm right now. On a specific time (in the future with a weekly schedule) a specific sound is enabled.
Stage one is enabled earlier than stage two. How much earlier can be setup within a minutes range. Additionally stage one has a linear volume increase slider and a maximum ring time

[2021-08-16 18:08] ashutoshgngwr commented on #629
@lanmarc77 Thanks for the suggestion! I'll keep it in consideration when I start reimplementing the alarm feature.

[2021-08-25 04:32] NSTAdventure commented on #753
Bruh 🗿🗿🗿🗿🗿

Why don't you just add that feature?

[2021-08-27 13:34] aproposnix opened #778 "Give the user the ability to assign menu items to the bottom menu bar"
## Background
Recently the menu layout changed. I have found it very frustrating because it changed how I interact with the app. One of the things that bothers me is that there is no visual clue (useful when you don't have your glasses on) for the sleep timer which I use every day. I think this proposal would resolve that issue for me.

## Proposal

It would be nice to be able to assign menu items

[2021-08-27 22:24] rkyoku opened #779 "Cannot reset sleep timer"
### Description

The timer duration is anormaly huge (35 hours, I did not extend it myself) and also clicking on the reset button has no effect (even after an app update and a phone reboot).
I am stuck.

### To Reproduce

No idea, it appeared by itself without human intervention

### Screenshots

![Screenshot_20210828-002023](https://user-images.githubusercontent.com/676896/131194207-df217e49-3275

[2021-08-28 03:53] ashutoshgngwr commented on #779
Export your saved presets and then Force close Noice and clear its data. Noice saves the timer state on the storage which it supposedly failed to invalidate when the timer was reset.

[2021-08-29 06:18] ashutoshgngwr commented on #637
![image](https://user-images.githubusercontent.com/7106123/131240691-8862327f-398e-40ae-8919-421c5107ad30.png)

I just ran the latest version on the Android 9 emulator and it works. Is it working for you as well @VasilisKos?

[2021-08-29 06:29] VasilisKos commented on #637
Yeap! Works fine on Android 10! Thanks a lot! 👍

[2021-08-29 06:30] ashutoshgngwr commented on #637
@VasilisKos I didn't do anything. It was an upstream bug.

[2021-08-29 06:30] #637 closed

[2021-08-30 10:16] #778 closed

[2021-08-30 10:17] ashutoshgngwr commented on #778
https://github.com/ashutoshgngwr/noice/commit/575cefceb24114e662ddb11c1d583604893ff65b is a temporary fix until #542 is implemented.

[2021-08-30 13:18] jeisinge opened #781 "Device sometimes freezes on overnight usage"
### Description
I have been running Lineage OS 18.1 on my Pixel 2 XL for about a 40 days. I have run Noice at night and five times. The phone has locked twice in those 40 days - both times when Noice has been running at night. So, be I believe Noice might be the cause.

The first time, I woke to the phone locked up and very hot - I don't remember which screen it was on.

The second time, the phone

[2021-08-30 13:24] ashutoshgngwr commented on #781
I am sorry, but I need more clarification. What do you mean when you say that you wake up to a locked phone? I am assuming this is different from a normal screen lock?

[2021-08-30 14:38] #720 closed

[2021-08-30 18:07] jeisinge commented on #781
The phone is completely frozen/crashed. The screen is on with a time from when it crashed. The phone doesn't respond to any touch or button presses. No sound. Complete crash.

[2021-08-30 18:35] ashutoshgngwr commented on #781
Noice doesn't perform any resource-intensive operations besides loading the currently playing sounds into device memory. The sounds themselves are comparatively small (should be about 5 MBs each after decoding to raw PCM). You can check Noice's memory usage and see if it's disproportionate. Other than that, it's unlikely that Noice is at the bottom of this.  I can't think of anything else in Noice

[2021-09-03 05:07] VasilisKos opened #791 "Save 24h format"
The 24h switch in the alarm menu is not saved when exiting the menu. This is not convenient, and doesn't make sense. You either constantly want or don't want a 24h format. It should be saved, like a setting.

[2021-09-03 05:47] ashutoshgngwr commented on #791
Gonna tie this up with #629

[2021-09-03 17:12] laralem commented on #200
@lucastsantos I'm already registered in Weblate site. I've added Portuguese (pt) language since it didn't existed yet (a bit different from pt-BR already translated, we usually have pt and pt-BR in interface translations to cover all Portuguese variants) and I was starting to translate when I saw the "save" button greyed out and the tool tip message:

I've already made a few translations in Weblat

[2021-09-03 17:31] ashutoshgngwr commented on #200
Hi @laralem I manually review translations using Google Translate as a sanity check. You can add everything as suggestions and I'll review them ASAP.

[2021-09-04 15:26] laralem commented on #200
@ashutoshgngwr thanks. Although unusual I will do that.

[2021-09-04 16:40] laralem commented on #534
Anyone agrees Noice should have a really good [wind chimes](https://en.wikipedia.org/wiki/Wind_chime) sound? Add it or, to avoid bloat, at least substitute "Wind in chimes of shells" already in Noice. Although that sound is also nice, I was expecting a more relaxing sound and without background noise. I've found 2 examples:
- https://freesound.org/people/giddster/sounds/437337/ CC0 license, almost

[2021-09-04 18:59] Long-FA opened #792 "Bluetooth earphones control does not respect "Allow skipping unsaved presets"."
### Description
Hi there, recently i filled the issue #683 about how Noice playing random tracks when tapping Next/Previous Track. I used the notification panel to kind of demonstrate how it works, and you added an option called "Allow skipping unsaved presets" in v1.0.0. It seems like this option only disable the Next/Previous Track button in the notification panel which does not solve my problem

[2021-09-04 21:33] laralem commented on #200
@ashutoshgngwr I've finished the translations suggestions in Portuguese (pt).

Some words are not easy to translate and understand to end users, for example "Presets" could be changed in original English strings to "Sound mixes" or just "Mixes" if don't fit in screen, as are they called in one introduction text.

[2021-09-05 07:25] VasilisKos opened #793 "Editing presets"
It'd be very convenient to be able to edit presets. This could be done by:
1. Add an "Edit" option in the three doors menu of each preset.
2. While a preset is played, and you go to the sounds tab and edit the played sound, tapping the save button should pop-up a menu, asking whether to overwrite the currently played preset or save it as a new one. Like "Overwrite current preset?", with "Yes"  or

[2021-09-05 09:23] ashutoshgngwr commented on #793
Duplicate https://github.com/ashutoshgngwr/noice/issues/328

[2021-09-05 09:23] #793 closed

[2021-09-05 09:24] ashutoshgngwr commented on #200
Thanks @laralem I'll review them ASAP

[2021-09-05 13:18] huuhaa opened #794 "Customized / Personalized soundtherapy for tinnitus (based of personal tinnitus profile)"
### Is your feature request related to a problem? Please describe.

Sound therapy for tinnitus is known to be effecting help, eventhought it's not gonna cure tinnitus. More effective form of sound therapy is custom / personalized sound therapy which uses persons tinnitus profile to offering right kind of background noice which user is supposed to listen an hour a day (or that's at least what I've

[2021-09-06 16:17] #792 closed

[2021-09-07 05:49] #791 closed

[2021-09-07 17:11] ashutoshgngwr commented on #794
I read the research articles referenced from the Wikipedia section on Tinnitus sound therapy. Personalised sound therapy has no basis in Noice's domain. The sounds used are completely different from the ones you conventionally find in Noice, e.g. the following is an excerpt describing a sound therapy device from [one of the articles](https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=+%5BPDF%

[2021-09-07 17:11] #794 closed

[2021-09-11 00:02] #723 closed

[2021-09-16 22:33] mobilefrog opened #800 "Setting to disable earphone controls"
When using wired headphones for sleeping the pause controls can accidentally be pressed when rolling over resulting in waking up.

A setting to disable this function would make this app the perfect sleep app.

[2021-09-17 02:15] ashutoshgngwr commented on #800
Already resolved in commit https://github.com/ashutoshgngwr/noice/commit/de7940882744b6bf3b318700fac838f2289cfd14. It should be available in the next release.

[2021-09-17 02:15] #800 closed

[2021-09-20 05:12] #779 closed

[2021-09-20 05:16] ashutoshgngwr commented on #779
Unrelated, but there was actually a bug that kept the "reset" button disabled on opening the sleep timer screen when a timer was ongoing. While your issue seems independent of this bug, the reset button will now be enabled should it happen again.

[2021-09-22 15:36] bqv commented on #781
It does seem rather resource intensive actually. Playing noice and a podcast simultaneously basically grinds my phone to a halt. No other noise app does this

[2021-09-22 15:41] bqv commented on #621
It does make sense. E.g. I use noise apps as background while listening to podcasts. It'd be nice to be able to turn down the noise so i can actually hear speech, like any other noise app, without having to manually scale each individual sound and possibly mess up ratios.

[2021-09-22 16:19] jeisinge commented on #781
After reinstalling from the Play Store, I no longer have this issue. But sometimes the sound doesn't last the entire night.

[2021-09-22 18:25] ashutoshgngwr commented on #781
@jeisinge This could be battery optimization. See #220 to turn it off!

[2021-09-22 18:37] ashutoshgngwr commented on #781
@bqv

I profiled Noice's resource usage. The following are some key stats:

1. On playing all 35 sounds together: CPU usage: 51% peak, RAM Usage: 301 MBs peak
2. On playing 10 random sounds: CPU Usage: 16% peak, RAM Usage: 197 MBs peak

This was a debug build on an idle device. In real scenarios, a lot of apps could be running in parallel. These stats could be better, but they aren't bad either. F

[2021-09-22 18:47] ashutoshgngwr commented on #621
That sounds like a very specific use case and I don't think it's a good idea to add complexity to include every possible scenario. If you want to listen to podcasts, create and save a preset with low volume settings.

[2021-09-24 23:23] timacosta commented on #753
@ashutoshgngwr I would take a look if that's ok. Surely as you mentioned the purpose of Noice is to provide background sounds and therefore UI is kind of secondary (even though it has an nice one!) at least what animations refer to. Even though, I would like to take a look and assign the issue. Thx

[2021-09-25 02:21] ashutoshgngwr commented on #753
@timacosta yeah that'd be great!

[2021-09-26 07:19] flexagoon opened #810 "The website uses a mockup of iPhone X, but the app is only available for Android"
That's probably a bit misleading, maybe you should change it to something like OnePlus or Google Pixel

[2021-09-26 07:23] ashutoshgngwr commented on #810
The website uses a pre-designed Jekyll theme ([automatic-app-landing-page](https://github.com/ashutoshgngwr/automatic-app-landing-page)) for the landing page. I made a few changes to the original theme to make it more Android-y but didn't notice the device frame. Anyways, we'll be moving away from Jekyll in the upcoming releases and the look and feel are bound to change with that.

[2021-09-27 23:37] Thewisem opened #811 "Could you please remove the libraries from being online in the future changelog"
### Is your feature request related to a problem? Please describe.

I have seen the changelog and I wish for it to not be online as when there is no wifi I wouldn't be able to hear this.
### Describe the solution you'd like

Scratch that idea please.

[2021-09-28 03:56] #811 closed

[2021-09-29 15:10] PanderMusubi opened #813 "Add sound of crashing waves"
### Is your feature request related to a problem? Please describe.
Add sound of crashing waves as was discussed in https://github.com/ashutoshgngwr/noice/issues/534#issuecomment-822836768

### Describe the solution you'd like
Add waves from https://freesound.org/people/Luftrum/sounds/48412/ (after converting to MP3).

This is also used in `waves.ogg` in https://github.com/rafaelmardojai/blanket/tr

[2021-09-30 05:49] ashutoshgngwr commented on #813
@PanderMusubi current we're using [this](https://github.com/ashutoshgngwr/noice/raw/main/app/src/main/assets/seaside.mp3) \[[original source](https://sound-effects.bbcrewind.co.uk/search?q=07044050)\]; it is titled "Seaside" in the app. I don't think these sound effects are different, are they?

[2021-10-01 21:38] rancidfrog opened #816 "Sleep timer already has large time set, needing reset"
Sometimes when clicking on sleep timer it has already set time usually long:
![](https://i.imgur.com/qB6pRY4.jpg)

Not sure why, as it happens randomly.
Also, happens on  1.3.3

[2021-10-02 05:36] ashutoshgngwr commented on #816
It's unlikely for me to fix it anytime soon. The timer and alarm features are due for a makeover with support for managing multiple items at a time. I'll get to it after the core changes that are planned for v2.

[2021-10-02 22:24] rancidfrog commented on #816
Yes,
I just wanted to note down this curious issue as it happened before, in previous versions I believe and remains in latest release.
Just an annoyance as you have to click reset then set time.
Do you know the cause, though?
I usually set a sleep timer and it finishes.
Then on next use I select a preset, sometimes a different preset, but in most cases whenever I set a timer, the preset is played

[2021-10-03 07:31] ashutoshgngwr commented on #816
The sleep timer currently uses the uptime clock (relative to boot-time). It also persists the timer on storage, so it can correctly display the timer UI. My theory is that on rebooting the device, Noice picks the persisted timer as ongoing and displays it. I will fix it ASAP, but I won't be able to release it until a few weeks.

https://github.com/ashutoshgngwr/noice/blob/85a9d9b18bd926fa19e315ea6

[2021-10-06 17:49] chihung93 commented on #200
I would like to help with `vi` translations. is it okay?

[2021-10-06 17:56] ashutoshgngwr commented on #200
@chihung93 Yes, but please use [Weblate](https://hosted.weblate.org/projects/noice/android/vi/) for adding translations.

[2021-10-06 18:30] ashutoshgngwr commented on #200
@chihung93 If you want to participate in the Hacktober Fest 2021, you can directly create a PR here on GitHub. I don't think changes from Weblate will count as participation.

[2021-10-07 19:41] chihung93 commented on #200
@ashutoshgngwr : I have added it and created a PR
https://github.com/ashutoshgngwr/noice/pull/834

[2021-10-08 07:12] ashutoshgngwr commented on #200
Okay! Please do not translate anything from [`donottranslate.xml`](https://github.com/ashutoshgngwr/noice/blob/main/app/src/main/res/values/donottranslate.xml).

[2021-10-31 00:28] Rult opened #842 "Add wavy brown+pink noise"
Personally, I like the monotonous brown noise, but for sleeping it's better to listen to its [wavy version](https://github.com/ashutoshgngwr/noice/files/7447955/sox-waves-edit2.zip). Regular crashing waves are too crispy.

If you'd like to generate it (as the other raw noises) instead of re-using the sample, you need to use [SoX](http://sox.sourceforge.net/).
After installed, it's played with this

[2021-11-04 12:44] Rult opened #853 "Add deep white noise"
[Sample.](https://github.com/ashutoshgngwr/noice/files/7474804/deep_white_noise.zip)
How to generate with SoX:
`play -n -n --combine merge synth whitenoise band -n 100`
How to record sample:
`sox -n -n -r 44100 output.wav --combine merge synth 60 whitenoise band -n 100`

[2021-11-25 21:09] #781 closed

[2021-11-25 21:14] flexagoon commented on #810
The issue is still not resolved, Jekyll is still used.

[2021-11-26 16:23] timacosta commented on #753
@ashutoshgngwr I actually wanted to take some actions on this task during this week :) so if it's still wanted or required jut re-open it.

[2021-11-27 06:11] ashutoshgngwr commented on #753
@timacosta Okay!

[2021-11-27 06:37] NSTAdventure commented on #753
Yay! 😍😍😍😍

Thanks  for reopen my issues 🙏😊

Pada Sabtu, 27 November 2021, Ashutosh Gangwar ***@***.***>
menulis:

[2022-01-09 01:32] #813 closed

[2022-01-10 20:26] pjones opened #907 "Help: How to send intent to start a preset"
First off, thank you so much for Noice!

I'm trying to automate my use of Noice by sending an intent via Tasker.  The overall gist of the automation is to connect to a set of bluetooth speakers, set the volume, then start a Noice preset.  It's the latter part that I can't seem to get working.

From what I can tell, Noice listens for a `play_preset` intent action and uses the `preset_id` extra inte

[2022-01-11 03:49] ashutoshgngwr commented on #907
Hey @pjones

You're slightly off the track. Noice uses most intent internally to deliver control events to the player process. It effectively means that it cannot receive these intents from other apps. As per your requirements, there are two external intents that Noice listens.

1. In [ShortcutHandlerActivity](https://github.com/ashutoshgngwr/noice/blob/main/app/src/main/java/com/github/ashutoshgn

[2022-01-11 03:49] #907 closed

[2022-01-11 15:11] pjones commented on #907
That worked perfectly.  Thanks!

[2022-01-22 20:37] xegulon opened #911 "Noises are repetitive, why don't take audio that are long enough to not be bored?"
### Is your feature request related to a problem? Please describe.

Hi, thanks for the amazing and very useful app. I find the shortness of the sounds repeated is quite a problem. Indeed, the fact that a noise is repeated again and again (take as example the birds' song) makes your brain remark it.

### Describe the solution you'd like

Take longer sounds. For example, take an audio of 10min with

[2022-01-23 10:58] ashutoshgngwr commented on #911
See https://ashutosh.blog/noice/news/v2-announcement

See https://github.com/ashutoshgngwr/noice/issues/142

### tldr;

- Longer sounds are coming, albeit they'll be hosted on the internet and most of them will be paid.
- Custom sounds create a plethora of concerns from an user experience perspective. Should we really expect users to create their own perfect loops? There are also issues with Chrom

[2022-01-23 10:58] #911 closed

[2022-01-25 02:07] Nimendra11 opened #912 "Can you add Pomodoro Timer Feature…?"
## Can you add pomodoro timer like this 👇👇

 1.end of pomodoro session noice app says,
            hii buddy, pomodoro session is over. Take a little break.(pausing playing noises)
 2.and end of break noice app says,
            buddy, our break is over, let's go back to work. (starting playing noises)

[2022-01-25 03:35] ashutoshgngwr commented on #912
I will look into it post v2 release. Right now, all efforts are directed at finishing the v2 implementation.

[2022-01-25 06:13] ashutoshgngwr commented on #912
just noticed that it is duplicate of #443

[2022-01-25 06:13] #912 closed

[2022-02-09 20:32] DC7IA opened #924 "[question] library via internet"
The announcement vor v2 containes this:

Does this mean I will not be able to use the app without internet connection?

[2022-02-09 21:04] ashutoshgngwr commented on #924
I am still working on it and its a long way from being done. So far, I am planning to make offline playback a paid feature. But, streams on free/no accounts would still be cached on device, so while it would need an active connection for cache validation, it shouldn't generally use more data (for streaming more than once).

If you have privacy concerns related to online streaming, please note that

[2022-02-09 21:04] #924 closed

[2022-02-10 21:33] DC7IA commented on #924
Oh, that's sad. :/

To me the best feaute was always having some calming sound even when there was no internet connection.

Guess I'll have to stick with the old version then.

Thanks!

[2022-02-10 21:34] DC7IA commented on #924
My suggestion would be to keep the current sounds, but add the new sounds online.

That  way there's always something to play without an internet connection.

[2022-02-11 13:26] ashutoshgngwr commented on #924
Noted!

[2022-03-10 20:19] onkoe opened #945 "Sound Licenses"
Hello,

Are the sound licenses noted anywhere? I would like to use these in my project but didn't see individual licenses. Are they actually licensed under the GPL???

Many thanks,
Barrett

[2022-03-11 06:03] ashutoshgngwr commented on #945
You can take the sounds from their [original sources](https://ashutosh.blog/noice/contributors#sounds). The edited ones in this project are additionally covered by GPL.

[2022-03-11 06:03] #945 closed

[2022-04-11 10:25] meyou69 opened #957 "Wake-up timer not working"
### Description

The wake-up timer seems to only work on my phone when the phone itself is unlocked and awake.
When I leave the phone locked and the screen black, the timer never goes off at the set hour. I'm not sure if the app gets optimized into the background to save battery life or what else could be going on but I simply can't use the app as an alarm clock.
### To Reproduce

Steps to reprodu

[2022-04-11 10:45] ashutoshgngwr commented on #810
@flexagoon Noice now has a new homepage. https://trynoice.com

[2022-04-11 10:45] #810 closed

[2022-04-11 11:23] ashutoshgngwr commented on #957
You can try disabling the battery optimisation settings for Noice by navigating to Device Settings > Apps > Noice > Battery. The exact steps may vary for Lineage OS.

[2022-04-11 11:38] meyou69 commented on #957
I did as you suggested. Sadly, disabling battery optimizations did not solve my issue. The wake-up timer still doesn't wake the phone up to activate the alarm.
At lwast now we know it's not a battery optimization issue

[2022-04-11 11:56] meyou69 commented on #957
Another interesting tidbit I found out is that the wake-up timer only activates if the Noice app is in the foreground on the phone. You don't even need to lock the screen.
Just switch to an entirely different app before the timer goes off and it will never go off anymore

[2022-04-11 12:32] ashutoshgngwr commented on #957
This issue comes around every now and then. Usually, turning off battery optimisation fixes the problem. The feature works as-is on most devices (and Android distributions) (including my own and the emulator). It essentially boils down to how a specific Android distribution handles background activity from an app, which is pretty much out of Noice's control.

[2022-04-11 13:51] ashutoshgngwr commented on #957
No no. Let's keep this open. I want to know where it works and where it doesn't. There can be any reason why it isn't working as expected. To quote [a StackOverflow answer](https://stackoverflow.com/a/42051566/2410641):

I am reasonably confident that it isn't a bug in Noice because the same code works on other devices. So as long as the alarm indicator gets triggered in the notification bar on sc

[2022-04-11 14:09] meyou69 commented on #957
"as long as the alarm indicator gets triggered in the notification bar" I am unsure what you mean by this.
The only thing that appears after I schedule an alarm is the clock icon on my lock screenthat indicates that an alarm is set along with the exact time for when the alarm is set to go off. The time that appears on the lock screen does indeed coincide with the time for the wake up timer I set i

[2022-04-11 14:19] meyou69 commented on #957
I would love to help but I'm unsure how to access such logs. Do I need to use adb to shell into my phone? Or where can I find such logs?

[2022-04-11 14:33] ashutoshgngwr commented on #957
Did you provide data collection consent? If so, then I am not seeing any crash logs in Firebase Console so we're good.

Otherwise, to collect logs, you need to [install adb on a computer](https://www.xda-developers.com/install-adb-windows-macos-linux/). You also need to enable developer options on your device. Then connect your device to the computer, and schedule the alarm. A few seconds before t

[2022-04-11 14:57] meyou69 commented on #957
[logcat.txt](https://github.com/ashutoshgngwr/noice/files/8465183/logcat.txt)
I hope this helps. I did indeed curate some details from the log which contained sensitive information about me. You can read the log now

[2022-04-11 15:52] ashutoshgngwr commented on #957
Thank you for taking the time to collect and upload the logs. It appears that the alarm is fired precisely so it is a problem with Noice. It appears to be a silent error (i.e. doesn't cause a crash) and is [indeed documented](https://developer.android.com/guide/components/activities/background-starts). I am not sure why it works flawlessly on my device and emulators. I will create a fix for it onc

[2022-04-11 15:57] meyou69 commented on #957
Thank you for your time. If you need any more details about my device or setup, please feel free to just ask away

[2022-04-16 13:28] ashutoshgngwr commented on #842
bump

[2022-05-05 10:40] FabianPaci opened #977 "Paused audio after pausing while the audio is fading"
### Description
I havnt taken the time to look at the repo yet, so correct me if this is known un-documented issue or something. Basically, when you pause your sounds using the pause/play button located at the top right and play your sounds again quickly after pasuing the sounds will remain in a pause-like state -
not producing any sounds.

### To Reproduce
Steps:
1. Play some sounds
2. Pause the

[2022-05-05 10:43] ashutoshgngwr commented on #977
Yeah, I am aware of this issue. I am rewriting the sound engine for [v2](https://trynoice.com/news/v2-announcement) as we speak. This should be fixed in the next release.

[2022-05-05 21:20] FabianPaci commented on #977
Awesome, thanks so much for this amazing app!

[2022-05-05 21:26] FabianPaci commented on #977
(sorry to reopen this issue but i didnt want to open a new issue for something that could just be simply answered) Is the sleep timer still counting down when paused also getting fixed in V2?

[2022-05-05 22:28] ashutoshgngwr commented on #977
After recieving feedback, I had planned to tightly couple sleep timers (allow multiple) with presets. This issue was unnoticed until now. I'll fix it as well. Although, I won't be able to do it in the initial release; maybe in a couple of releases down the line. It can be a while before that happens.

On a side note, please keep this issue open so it's easier to track.

[2022-06-08 09:21] ashutoshgngwr opened #1016 "Sleep Timer continues to countdown when the playback is paused or stopped"
_Originally posted by @FabianPaci in https://github.com/trynoice/android-app/issues/977#issuecomment-1119061139_

[2022-06-08 09:23] ashutoshgngwr commented on #977
The original issue is fixed in the main branch. I'll be releasing its beta on the Play Store very soon. The sleep timer issue is still unresolved. Please subscribe to #1016 for updates.

[2022-06-08 09:23] #977 closed

[2022-06-08 09:27] ashutoshgngwr commented on #816
I've fixed this issue and it should be resolved in the next release.

[2022-06-08 09:27] #816 closed

[2022-06-08 09:32] ashutoshgngwr commented on #622
This is an implicit feature of the v2 sound engine. The v2 sound engine divides a sound into several independent segments and it selects a random segment when the sound starts playing.

[2022-06-08 09:32] #622 closed

[2022-06-09 00:45] ashutoshgngwr commented on #344
Bumped the ExoPlayer. The issue can't be resolved for some devices as it is a codec issue on the device's end.

[2022-06-09 00:45] #344 closed

[2022-06-11 20:13] JosephArney566 opened #1018 "Import doesn't work"
### Description
Import brings up the file manager but doesn't allow me to select the json file

### To Reproduce
Steps to reproduce the behavior:
1. Go to Settings
2. Click on import from a file

### Screenshots
![Screenshot_20220611-161025](https://user-images.githubusercontent.com/107324076/173203397-53908daa-ce5d-40ed-8bc3-5ae85171faa3.png)

### Others
- Device: Amazon Fire Tablet 10 (2019)
- A

[2022-06-12 01:56] ashutoshgngwr commented on #1018
Did you try to complete the action with a different file manager app?

[2022-06-12 02:32] JosephArney commented on #1018
I installed MiX and that ended up working, must be the files app then 🤷

[2022-06-12 02:34] ashutoshgngwr commented on #1018
I'm glad it's working now. Thank you for using Noice!

[2022-06-12 02:34] #1018 closed

[2022-06-18 20:15] cassidyjames opened #1021 "Shushing sounds"
I use Noice to help my baby go to sleep. The one sound missing for me compared to other apps is a rhythmic "shhhhh... shhhhh... shhhhh..." typically referred to as "shushing" in other apps. I'd be willing to source or record something if this is of interest to anyone else.

[2022-07-09 06:56] #200 closed

[2022-07-09 06:59] ashutoshgngwr commented on #604
I'd ask if this is still an issue in v2, but I suppose that's impossible. If someone is watching this issue and feels that it is unresolved in v2, please open a new issue.

[2022-07-09 06:59] ashutoshgngwr commented on #605
I'd ask if this is still an issue in v2, but I suppose that's impossible. If someone is watching this issue and feels that it is unresolved in v2, please open a new issue.

[2022-07-09 06:59] #605 closed

[2022-07-09 07:02] ashutoshgngwr commented on #753
I am closing this. I don't want to work on it, and there's barely any interest in this issue. Thanks for your suggestion, @NSTAdventure.

[2022-07-09 07:02] #753 closed

[2022-07-09 07:08] NSTAdventure commented on #753
i see is ok thanks for consideration 🙏😊

[2022-07-10 04:53] pratyaksh1610 commented on #853
@ashutoshgngwr I would like to contribute to this issue. Pls assign this issue to me.
.
.
.
Thanks
Pratyaksh

[2022-07-10 16:24] ashutoshgngwr commented on #853
Hey, @pratyaksh1610! The sound library is a closed-source component now. I'll have to do it myself. :)

[2022-07-17 23:29] Shuunen opened #1041 "Decreasing volume"
Hi there,

Thanks for the app, really nice 👍

It would be great to have a checkbox setting to let the volume decrease along the sleep timer, from the actual level of volume to 0% when the timer end,

Would be a great help to fall asleep IMHO,

What do you think?

[2022-07-18 06:49] ashutoshgngwr commented on #1041
Do you mean automatic fade-out when the playback pauses/stops or a slow fade-out that begins and ends with the sleep timer?

[2022-07-18 06:50] Shuunen commented on #1041
@ashutoshgngwr option 2 "slow fade-out that begins and ends with the sleep timer" 🙂

[2022-07-18 06:52] ashutoshgngwr commented on #1041
Makes sense. Will do it.

[2022-07-18 06:52] Shuunen commented on #1041
So glad to hear it, thanks a lot ❤️

[2022-07-24 20:01] assolutooccidentale opened #1044 "Old sounds"
Hi all
I've been using noice since my daughter was born.. Would it be possible to use the old sounds? They were less jumpy and better for my child...
Besides can there be a feature to download some of the sounds cause I happen to have no Internet at times?
Thank you

[2022-07-25 04:37] ashutoshgngwr commented on #1044
If you think there's a problem with any/all sounds, please add more details to the issue. e.g. Did you notice the jumpy effect in all sounds or a specific few? I also didn't quite understand what you meant by jumpy. A few more details here will help me in addressing this issue.

I was supposed to do it two weeks ago, but I got caught up in some other stuff. I'll try to wrap it within the next few

[2022-07-25 04:42] assolutooccidentale commented on #1044
Old train or old cat purr were more plain, actual train goes from silence
to some screak sometimes, while cat purr is too loud if compared to the
other sounds

Besides can there be a feature to download some of the sounds

Perfect: I'm afraid I'll stay with 1.3.3 for the time being

[2022-07-25 05:01] ashutoshgngwr commented on #1044
Thanks for the quick and detailed response. I'll try to fix/replace these sounds ASAP.

[2022-08-04 11:03] ErichDonGubler commented on #604
There's definitely still volume inconsistency for brown, pink, and white noise in v2. In fact, there's now a regular volume dip that wasn't present in v1 that happened every 5 seconds on my S22 Ultra. It's very jarring. :(

[2022-08-04 11:05] ashutoshgngwr commented on #604
@ErichDonGubler thanks for reporting this. I'll fix it ASAP.

[2022-08-04 14:17] ashutoshgngwr commented on #604
@ErichDonGubler I cannot reproduce this on my device (Mi A3 on Android 11). I think this might be related to an upstream bug, but AFAIK, it affects only a few devices running on Android 10 (see #344).

A little background: Noice takes independent sound segments (MP3 files) and stitches them together on the fly using the gapless playback feature of an upstream library. The gapless playback wouldn't

[2022-08-04 14:47] ErichDonGubler commented on #604
@ashutoshgngwr: I can confirm hearing a click between each sample of the fan sound cycle. The cycle appears to indefinitely repeat a longer sample (~25s) and a shorter sample (5s).

[2022-08-04 15:22] ashutoshgngwr commented on #604
@ErichDonGubler That's rather bad news. It is a bizzar issue with no (sane) fix. As far as I understood from https://github.com/google/ExoPlayer/issues/8594 and https://github.com/google/ExoPlayer/issues/7994, it has something to do with media decoders present on the device.

I also faced it on my device (running on Android 10 at the time). But it was automatically resolved when my device received

[2022-08-04 16:09] ashutoshgngwr commented on #604
@ErichDonGubler This issue was introduced in ExoPlayer version > 2.11.8. I'll start publishing alternate APKs on GitHub releases with the downgraded ExoPlayer as a workaround.

[2022-08-09 13:08] ashutoshgngwr commented on #604
@ErichDonGubler Publishing the alternate build doesn't seem feasible. I was under the impression that ExoPlayer followed semantic versioning, but there seem to have been drastic API changes since 2.11.8. I tried to tweak the code after adding the old dependency, but there are too many breaking changes. I'll have to maintain two separate implementations of Noice's sound engine instead of doing a si

[2022-08-09 13:08] #604 closed

[2022-08-09 21:17] lrq3000 opened #1055 "Womb simulating white noise preset for newborns/infants"
This preset provides a ready to use white noise for newborns and infants to help them induce sleep and also help them maintain sleep by muddling ambient noise (eg, by parents). This is inspired by Dr Karp's advices on what constitutes a good white noise sound for infants, similar to what their commercial offer Snoo implements. For more details, see [this](https://www.happiestbaby.com/blogs/baby/wh

[2022-08-10 08:21] licaon-kter opened #1056 "NonFree lib in F-Droid build"
`com.google.android.gms:play-services-oss-licenses` is not FOSS. See https://maven.google.com/com/google/android/gms/play-services-oss-licenses/17.0.0/play-services-oss-licenses-17.0.0.pom.

Could you please replace it with a FOSS alternative (see https://gitlab.com/-/snippets/1896503)? Thanks!

Ref: https://github.com/trynoice/android-app/commit/deb49114fdc40d83834d11fd62f2f23940668282

Ref: http

[2022-08-10 12:46] #1056 closed

[2022-08-10 12:51] ashutoshgngwr commented on #1056
Thanks for reporting it and suggesting potential alternatives, @licaon-kter. I'll make a patch release soon.

[2022-08-10 13:35] ashutoshgngwr commented on #1055
Hi @lrq3000! Thanks for taking the time to open this issue. I didn't have enough time to go through all three references, but I am already convinced from the past feedback. It appears that you've used v1 to generate this preset, and the sound library has gone through drastic changes since then. I am concerned about the electric car and moving train sounds in particular. Will it be possible for you

[2022-08-11 12:13] lrq3000 commented on #1055
@ashutoshgngwr Oh thank you for the warm reception for this idea :-)

I tried to re-implement in v2, and as you said the two major changes are the electric car and moving train sounds, the rest can be reproduced without an issue. While we can do without the electric car as it was just used to add more low-frequency sounds over the already rumbly brown noise, train sound is necessary to simulate a

[2022-08-11 13:14] ashutoshgngwr commented on #1055
I haven't got ample feedback on the new sound library to fix what's broken. I'll be working to bring the new library's quality close to v1 (maybe even better).

It was necessary to expand the sound library. The v1 had its limitations, the top two were: limited audio quality and a limited number of sounds. With v2, the only bottleneck is how many good sounds I can produce on my end.

[2022-08-14 22:31] lrq3000 commented on #1055
@ashutoshgngwr I understand you wanted to rework the sound engine, I also developed a virtual instrument on Android in the past and I know how much it crn be a game changer to have a good round engine, especially one that can synthesize ;-)

I can give you a short feedback from my limited use, keeping in mind I am looking for low freq, unsurprising, soothing noise: to me it seems most of v2 sounds

[2022-08-15 03:06] ashutoshgngwr commented on #1055
@lrq3000

Yes, I think it will be much more work than finding better samples, but that's not the natural blocker. I'm actively trying to reduce the complexities in the interface and make it as easy as possible for technically laid-back users to navigate.

It is well-articulated feedback on the issue. I know exactly what the problem is instead of trying to understand it from vague details. Thank yo

[2022-08-21 08:44] g3t0r opened #1063 "Add quick mixer view"
## The problem
I usually use Noice while reading to give myself some additional atmosphere. I like to change composition of sounds when background of the plot changes, so it's pretty often. Right now it takes some time to find currently playing sound and change it's volume or replace it with another. It's not like very long time but searching for it can easily destroy the immersion.

## The idea
I

[2022-08-21 09:16] ashutoshgngwr commented on #1063
Thanks for the suggestion; it's a good idea. I'll see what I can do. As of this moment, I am overwhelmed with other things with higher priorities. So, I'm not sure when I'll be able to work on it.

[2022-09-02 10:29] aproposnix opened #1072 "Only working with network connection"
### Description
I've been using noice since the first version. It's been super noice to use :D

Unfortunately, it now seems to only work when I am online. Last night I tried running it usng the same saved sound that i've been using for a long time. Within an hour it stopped playing the sound. When I got up to check the problem, I got a bunch of errors saying it couldn't connect to the internet.  I

[2022-09-02 10:33] ashutoshgngwr commented on #1072
Yes, I am sorry to disappoint you, but this is by design. I expanded the sound library (in terms of sound length) and it forced me to move it online.

Offline playback is only available if you subscribe to Noice Premium.

[2022-09-02 10:33] #1072 closed

[2022-09-02 10:35] ashutoshgngwr commented on #1072
You can download older versions from GitHub releases. The latest one with full offline functionality is 1.3.3

[2022-09-11 17:48] flexagoon opened #1076 "Unable to play multiple sounds at once"
### Description
After v2 I am no longer able to play two or more sounds at once

### To Reproduce
1. Play any sound
2. Play a second sound
3. Only the second sound will play, instead of both at once

### Others

- Device: OnePlus 7T Pro
- Android Version: LineageOS 18.1 (Android 11)
- App Version: 2.2.2
- Downloaded From: GitHub, the "free" version

[2022-09-12 07:52] ashutoshgngwr commented on #1076
Can you help me with a screen recording for this issue? I am not able to reproduce it on my end.

[2022-09-16 15:33] ashutoshgngwr commented on #1055
Hi @lrq3000!

So that didn't happen! I apologise that it took unexpectedly long for me to resolve this. Here is what I've done to resolve this issue:

- I've replaced the purring cat sound with its old sample.
- I've replaced the train sound with its old sample.
- I didn't make any changes to the electric car sound. The only difference between the old and new samples is the slightly increased dept

[2022-09-16 15:34] ashutoshgngwr commented on #1044
I've reverted both the sounds to their old samples. I hope this resolves the problems you've been facing with Noice. Thank you!

[2022-09-16 15:34] #1044 closed

[2022-09-20 22:59] lrq3000 commented on #1055
@ashutoshgngwr No worries, thank you for your maintaining this great project :D

Awesome for the sounds, it's much better for the train! For the electric car, this is strange because if you listen to the v1.3.3 sound, there is no turn signal sound, and the sound is very continuous (the car does not get stopped), I don't know if this is because of the old dual-sampling technic but this allowed the

[2022-09-21 07:15] ashutoshgngwr commented on #1055
The v1 had a 45-second hard limit on sound samples. Noice played two samples in parallel for most sounds, including the electric car. So it didn't allow for anything but a simple, static rhythm, e.g. a car doesn't drive at a constant speed. Or, to make a general statement, things vary with time. The v2 focuses on this fundamental principle and attempts to address it.

I agree some sounds are just

[2022-09-27 23:42] lrq3000 commented on #1055
Hey, I thought a bit more about what you said about the positioning of the recorder. I think you are right, we both used a different definition of passivity, but yours included additionals implicit conditions.

I tried to identify these implied conditions and more precisely what kind of sound this type of "ideal" passive recording generate, leveraging my knowledge of both artificial intelligence a

[2022-09-30 07:01] ashutoshgngwr commented on #1055
This is what the v2 engine is built around. The server side offers multiple _segments_ for a particular sound. It randomly sequences these segments on the client side to create seamless experience.

I think that's mainly because the creators like me are just programmers with no background in the other domain.

These are some great pointers and thank you for writing them. However, we can't go back

[2022-10-02 09:19] sevmonster commented on #957
This is also an issue on GrapheneOS (Android 13).

[2022-10-02 09:38] ashutoshgngwr commented on #957
@sevmonster AFAIK, it only happens on devices running Android higher than 11. It is why I haven't had a lot of complaints regarding this. As of now, I am busy with the Chromecast implementation. I'll try to resolve it as soon as I finish that. I'd estimate it within two weeks, but it might be longer. Please subscribe to this issue to receive updates.

[2022-10-02 12:45] lrq3000 commented on #1055
Ah that makes a lot of sense, yes indeed dual sampling can produce issues with too many audio channels opened than the OS can support, so I understand the move to the new engine, and it's great if it can randomize the multiple segments! This takes care of the non-repetitiveness criterion.

I was thinking of monotonicity more in terms of the frequency domain, ie that the sample should be restricted

[2022-10-03 16:51] meanindra opened #1084 "Bottom navigation bar is not working with Material You guideline"
See this https://m3.material.io/components/navigation-bar/guidelines guideline about material you design
![Screenshot_20221003-222025~2.png](https://user-images.githubusercontent.com/36324543/193633924-999d03f5-bddd-4906-9748-4d9621652c0c.png)
### Others

- Device: redmi note 7
- Android Version: 11
- App Version: v2. 2.4
- Downloaded From: fdroid

[2022-10-03 17:53] ashutoshgngwr commented on #1084
@meanindra Is it the wrapped text in the wake-up timer item? Can you please be a little more specific?

[2022-10-03 17:58] ashutoshgngwr commented on #1055
@lrq3000 Sorry for the delayed response, and thanks for clearing things up! Everything you've pointed out so far makes sense to me. I'll keep it under consideration when working on the sound library.

[2022-10-04 07:11] ismailbohra commented on #1084
if you were facing problem related to text then, I can solve it please assign me this

[2022-10-04 08:14] meanindra commented on #1084
@ashutoshgngwr I think you can add **Sleep Timer** and **Wake-up Timer** together.

[2022-10-04 08:24] ashutoshgngwr commented on #1084
@meanindra In the short term, maybe. In the long term, the goal is to transform Wake-up Timer into an alarm clock that can schedule multiple alarms simultaneously. Perhaps, for now, we should disable bottom bar labels and add an appropriate title in the title bar for the active tab.

[2022-10-04 08:26] ashutoshgngwr commented on #1084
@ismailbohra Please propose what you plan to do before I can assign you to the issue.

[2022-11-12 11:51] ashutoshgngwr opened #1090 "Sleep cycle based alarms"
_Based on suggestions by @lanmarc77 in https://github.com/trynoice/android-app/issues/629#issuecomment-898966112_

[2022-11-12 11:59] #629 closed

[2022-11-12 11:59] #957 closed

[2022-11-12 16:53] ashutoshgngwr opened #1092 "Replace all vector icons with their round variants"

[2022-11-12 20:10] ashutoshgngwr commented on #1055
I just created a release and forgot about this! :man_facepalming:

[2022-11-13 00:09] lrq3000 commented on #1055
Haha this happens to me all the time. Next time ;-)

Le sam. 12 nov. 2022 à 21:10, Ashutosh Gangwar ***@***.***> a
écrit :

[2022-11-13 12:43] #1055 closed

[2022-11-13 21:50] sevmonster opened #1095 "Longer sound fade in/out"
### Is your feature request related to a problem?
Similar to the rationale behind #1090, I tend to be completely dead for 30 minutes or so after waking. It would be nice to have either a pre-alarm state with a ramp up to the actual alarm, but an even easier add for now would be to simply...
### Describe the solution you'd like
...Increase the range of the fade sliders. Ten minutes would be good I

[2022-11-14 11:56] ashutoshgngwr opened #1096 "Add master volume control"

[2022-11-14 11:58] ashutoshgngwr commented on #1095
Once #1096 is done, it can be an alarm-specific feature. I plan to add a user setting (Switch) to enable slowly ramping up the master volume when an alarm fires.

[2022-11-18 18:15] #1096 closed

[2022-11-20 09:09] #1095 closed

[2022-11-20 09:10] ashutoshgngwr commented on #1095
Instead of a switch, I added an adjustable setting for specifying the ramp-up duration to up to 30 minutes.

[2022-11-20 09:22] ashutoshgngwr commented on #443
There's little to no traction over this feature. I'm closing this as not-planned for now.

[2022-11-20 09:22] #443 closed

[2022-11-20 13:15] ashutoshgngwr commented on #144
I won't be working on this unless it gains viable demand from users in the future.

[2022-11-20 13:15] #144 closed

[2022-11-20 13:15] ashutoshgngwr commented on #1076
Closing this due to inactivity!

[2022-11-20 13:15] #1076 closed

[2022-11-25 23:06] xmha97 opened #1102 "Add reference"
Please add the sound reference:

![Screenshot_2022-11-26-01-46-24-302_com.github.ashutoshgngwr.noice.jpg](https://user-images.githubusercontent.com/23485114/204062030-69d2f289-e5b7-46e8-bcd0-6ac0b191ebbc.jpg)

[2022-11-26 05:58] ashutoshgngwr commented on #1102
@xmha97 We only disclose sources for assets whose license requires us to. Other than that, the sound library is a close-sourced component. Please let me know if there's anything else I can help you with!

[2022-11-26 05:58] #1102 closed